<div class="item">
    <div class="midle">
        <a href="{$item.id}">
            <div class="title">
                <span>{$item.name}</span>
            </div>
            <p>{$item.description}</p>
        </a>
    </div>
</div><!-- .item -->