<div class="item" id="pf-item-{$item.id}">
    <a href="{$item.big}" rel="gallery" class="pf-items {if $item.type=='video'} video fancybox.iframe{/if}">
        <span> 
              <img src="{$item.thumb}" alt="{$item.thumb}"/> 
        </span>
    </a>
    <span><i class="icon-clancel_circle rm-pf-item" id="{$item.id}"></i>    </span>
</div><!-- .item -->
{*href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1"*}