/** ============================
    footer
    ======================== **/
.l-footer{
    position: relative;
    overflow: hidden;
    @include respond-to(xs){
        text-align: center;
        .container{
            padding: 0 15px;
        }
    }
    .top{
        padding: 15px 0 7px;
        background: #e0f2f8;
        @include respond-to(xs){
            padding-bottom: 27px;
        }
    }
    .logo{
        padding-left: 15px;
        @include span(12);
        text-align: left; 
        img{
            width: 94px;
            display: block;
            height: auto;    
            @include respond-to(xs){
                margin: 0 auto; 
            }
        }
        a{
            display: block;
            @include transition();
        }
    }
    .footer-menu{
        @include span(12);
        @include susy-clearfix();
        .table{
            height: 75px;
        }
        li{
            float: left;
            font-size: 16px;
            line-height: 24px;
            color: #041853;
            padding-right: 3.0737705%;
        }
        a{
            @include transition();
            &:hover{
                color: $color-1;
            }
        }
        @include respond-to(xs){
            padding-top: 20px;
            padding-bottom: 30px;
            .table{
                height: auto;
                text-align: center;
            }
            li{
                float: none;
                @include inline-block();
            }
        }
    }
    .btn-group{
        @include span(12);
        padding-top: 7px;
        padding-right: 10px;
        text-align: right;
        @include respond-to(xs){
            padding-right: 0;
            .btn{
                display: block;
                text-align: center;
                & + .btn{
                    margin-top: 20px;
                    margin-left: 0;
                }
            }
        }
    }
    @include respond-to(sm){
        .logo{
            @include span(2);
        }
        .footer-menu{
            @include span(3);
        }
        .btn-group{
            @include span(7);
        }
    }
    @include respond-to(md){
        .logo{
            @include span(2);
        }
        .footer-menu{
            @include span(5);
        }
        .btn-group{
            @include span(5);
        }
    }
    .bottom{
        padding-top: 30px;
        padding-bottom: 40px;
        .copyright{
            @include span(2);
            font-size: 14px;
            line-height: 18px;
            color: #828eab;
            padding-top: 7px;
            padding-left: 15px;
        }
        .copyright-text{
            @include span(5);
            font-size: 14px;
            line-height: 18px;
            color: #828eab;

        }
        .copyright-otakoyi{
            margin-top: 5px;
            text-align: right;
            padding-right: 15px;
            @include span(5);
            position: relative;
            i{
                @include inline-block();
                width: 31px;
                height: 31px;
                @include transition();
                color: #bfdce6;
                margin-left: 17px;
                background: url("../img/icons/logo-otakoyi.png") no-repeat;
            }
            a{
                span{
                    font-size: 16px;
                    line-height: 18px;
                    color: #828eab;
                    @include transition();
                }
                &:hover{
                    span{
                        color: $color-1;
                    }
                    i{
                        background-position: 0 -41px;
                    }
                }
            }
        }
        @include respond-to(xs){
            text-align: center;
            padding-bottom: 75px;
            .copyright{
                @include span(12);
            }
            .copyright-text{
                font-size: 12px;
                line-height: 14px;
                padding-top: 15px;
                padding-bottom: 25px;
                @include span(12);
            }
            .copyright-otakoyi{
                font-size: 16px;
                line-height: 22px;
                @include span(12);
                text-align: center;
                i{
                    position: absolute;
                    bottom: -45px;
                    left: 50%;
                    padding: 0;
                    margin-left: -15px;
                    background-position: 0 -41px;
                }
            }
        }
        @include respond-to(sm){
            .logo{
                @include span(2);
            }
            .footer-menu{
                @include span(3);
            }
            .btn-group{
                @include span(7);
            }
        }
        @include respond-to(md){
            .logo{
                @include span(2);
            }
            .footer-menu{
                @include span(5);
            }
            .btn-group{
                @include span(5);
            }
        }
    }
}