/** ============================
    header
    ======================== **/
.l-wrapper{
    height: 100%;
}
.l-header-home{
    height: 100%;
    width: 100%; 
    overflow: hidden;
    .layer-1{
        height: 100%;
        width: 100%;
        background: url("../img/bg/big/1.jpg") no-repeat center top;
        background-size: cover;
        .video-container{
            position: relative;  
            @media only screen
            and (min-device-width: 768px)
            and (max-device-width: 1024px) 
            {
                height: 100%;
                width: auto;
            }
            &:after{
                position: absolute;
                content: ""; 
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(#000, 0.6);  
            }
            #video{
                width: 100%; 
                @media only screen
                and (min-device-width: 768px)
                and (max-device-width: 1024px)            
                {
                    height: 100%;
                    width: auto;  
                }
            }
        }   
        img{
            display: none;
            width: auto;
            min-height: 100%; 
        }
        @include respond-to(xs){
            background-size: auto 100%;
            display: none;
            img{
                display: block;
            }
        }
        @include respond-min(lg){
            min-height: 670px;
        }
        @include respond-min(1400px){
            min-height: 820px; 
        }
    }
    .layer-2{
        height: 100%;
        @include respond-to(xs){
            background: url("../img/bg/big/1.jpg") no-repeat center top;
            background-size: auto 100%;
            height: auto;
            position: relative;
        }
        .h-100{
            height: calc(100% - 115px);
            @include respond-to(xs){
                height: auto;
            }
            @include respond-min(1400px){
                min-height: 700px !important;
            }
        }
        .border{
            height: 100%; 
            border: 1px solid #1c8186;
          
            
            @include respond-to(xs){
                height: auto;
                border: 0 solid transparent;
                margin: 0 12px;
            }
            @include respond-to(sm){
                margin: 15px 15px 0;  
            }
            @include respond-to(md){
                margin: 33px 29px 0; 
            }
        }
    }
    .top{
        padding-top: 29px;
        position: relative;
        .logo{
            margin-top: 5px;
            text-align: center;
            img{
                height: auto;
                width: 82px;
                @include respond-to(sm){
                    width: 160px;
                }
                @include respond-min(1400px){
                    width: 193px;
                }
            }
        }
        .login{
            text-align: right;
            padding-right: 33px; 
            .btn{
                margin-right: 0; 
                padding: 0 20px;
                @include respond-to(md){                  
                    padding: 0 33px; 
                } 
            }
            .btn-icon{
                display: none;
                font-size: 24px;
                color: $color-1;
                @include transition();
                &:hover{
                    color: #fff;
                }
            }
            @include respond-to(xs){
                .menu-xs{
                    display: block;
                }
                .m-login{
                    display: none; 
                }
            }
            @include respond-to(sm){
                .m-login{  
                    display: block;  
                }
                .menu-xs{
                    display: none;
                }
            }
        }
        @include respond-to(xs){
            .m-lang{
                .lang{
                    display: none;
                }
                .m-button-search{
                    display: block;
                    position: absolute;
                    left: 19px;
                    font-size: 24px;
                }
            }
            .logo{
                @include span(12);
            }
            .login{
                position: absolute;
                top: 37px;
                right: 19px;
                width: 24px;
                height: 24px;
                .btn{
                    display: none;
                }
                .btn-icon{
                    display: block;
                }
            }
            .menu-xs{
                display: none; 
            }
        }
    }
    .bottom{
        text-align: center;
        position: relative;
        .menu{
            @include inline-block();
            @include susy-clearfix();
            li{
                @include susy-clearfix();
                float: left;
            }
            a{
                display: block;
                height: 82px;
                line-height: 82px;
                color: #fff;
                text-transform: uppercase;
                @include transition();
                font-size: 20px;
                padding: 0 26px;
                &:hover{
                    color: $color-1;
                }
            }
            @include respond-to(xs){
                text-align: center;
                padding: 35px 0 15px;
                a{
                    height: auto;
                }
                li{
                    float: none;
                    width: 100%;
                }
                a{
                    font-size: 18px;
                    line-height: 30px;
                    width: 100%;
                }
            }
        }
        .m-button-search{
            position: absolute;
            right: 115px;
            top: 50%;
            margin-top: -15px;
            cursor: pointer;
            color: #fff;
            font-size: 31px;
            display: none;
            @include transition();
            &:hover{
                color: $color-1;
            }
            @include respond-to(md){
                @include inline-block();
            }
        }
    }
    .advanced-search{
        .m-filter-people{
            margin-top: 45px;
            .filter-border{
                border: 1px dashed #b4d5db;
            }
        }
        .container{
            @include container(1195px); 
        } 
        .advanced-search-title{
            color: #fff;
            font-size: 30px;
            padding-top: 25px;
            line-height: lh(72, 70);
            font-family: $font-GSS;
            text-align: center;
            @include respond-to(sm){
                font-size: 45px;
                margin-top: 40px;
                padding-top: 0;
            }
            @include respond-to(md){
                margin-top: 30px;
            }
            @include respond-min(1400px){
                margin-top: 15px; 
                font-size: 65px; 
            }
 
            @include respond-min(1650px){
                margin-top: 52px;
                font-size: 70px;
            }
        }        
        .footer{
            text-align: center;
            .btn{ 
                font-family: $font-GSS;
                font-size: 32px;
                margin-top: 30px;
                text-transform: uppercase;
            }
        }
        .arrow{
            text-align: center;
            .icon-arrow{
                @include inline-block();
                color: #aaacb8;
                font-size: 18px;
                margin-top: 54px;
                cursor: pointer;
                display: none;
                &:hover{
                    color: #fff;
                }
                @include respond-min(1400px){
                    display: block;
                    margin-top: 20px;
                }
                @include respond-min(1650px){
                    display: block;
                    margin-top: 54px; 
                }
                
            }
        }
    }
}

.l-header{
    background: #fff;
    height: 70px;
    line-height: 70px;
    @include respond-to(sm){
        height: 124px;
        line-height: 124px;
    }  
    .m-lang{
        display: none;
        margin-top: 0;
        @include respond-to(sm){
            @include inline-block();
        }
        .lang{
            margin-left: 0;
        }
        a{
            color: $color-8;
            &:hover{
                &:after,&:before{
                    background: $color-8;
                }
            }
            &.active{
                color: #24ada4;
                &:after,&:before{
                    background: #91d6d1;
                }
            }
        }
    }   
    .h-1{
        @include span(4);
    }
    .h-2{
        @include span(4);
        text-align: center;
        a{
            &:hover{
                img{
                    @include css3-prefix(transform, rotateY(360deg));
                }
            }
        }
        img{
            display: block;
            width: 65px;
            margin-top: 10px;
            height: auto; 
            margin-left: auto;
            margin-right: auto;
            @include css3-prefix(transition, transform 1.5s ease);   
            @include css3-prefix(transform, rotateY(0deg));
        }
        @include respond-to(sm){
            img{
                width: 119px;
                margin-top: 19px;
            }
        }
    }
    .h-3{
        @include span(4);
        text-align: right;
        padding-right: 15px;
        @include respond-to(md){ 
            padding-right: 80px;
        }
        .m-login{
            @include inline-block();
            margin-right: 15px;
            @include respond-to(md){
                margin-right: 40px;
            }
            @include respond-to(xs){
                display: none;
            }
        }
        .m-button-search{
            @include inline-block();
            i{
                color: #3c658d;
                font-size: 30px;
            }
        }
    }
}

.m-main-menu{
    margin: 0 23px 0 15px;
    cursor: pointer;
    @include inline-block();
    .button-main-menu{
        i{
            width: 30px;
            display: block;
            height: 3px;
            background: $color-1;
            @include border-radius(1px);
            & + i{
                margin-top: 8px;
            }
        }
    }
    @include respond-to(sm){
        margin: 0 50px 0 15px;
    }
    @include respond-to(md){
        margin: 0 50px 0 15px;
    }
    @include respond-to(lg){
        margin: 0 82px 0 50px;
    }
    .main-menu{
        background: #24ada4;
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        line-height: 1;
        text-align: center;
        .table, .table-cell{
            display: block;
        }
        .table{
            padding: 50px 0 0;
            @include respond-to(xs){
                padding: 50px 0 0;
            }
        }
        &.open{
            .menu-list{
                display: block;
            }
        }
        .close-main-menu{
            position: absolute;
            right: 23px;
            top: 22px;
            z-index: 999999;
            &:hover{
                .icon-cancel{
                    font-size: 35px;
                    color: $color-1;
                }
            }
            .icon-cancel{
                color: #fff;
                font-size: 25px;
                @include transition();
            }
            @include respond-to(sm){
                right: 52px;
                top: 46px;
            }
        }
        .level-1{
            text-align: center;
            //                max-height: 100%;
            height: auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            overflow-x: auto;
            @include respond-to(xs){
                padding: 0;
            }
            li{
                a{
                    background: transparent;
                    font-family: $font-GSS;
                    font-size: 36px;
                    padding: 23px 43px;
                    @include inline-block();
                    color: #fff;
                    text-transform: uppercase;
                    @include transition();
                    @include translate3d();
                    @include border-radius(5px);
                    @include respond-to(xs){
                        padding: 23px 0;
                        font-size: 24px;
                        @include border-radius(0px);
                        display: block;
                        width: 100%;
                    }
                    &:hover{
                        background: #fff;
                        color: #24ada4;
                    }
                }
                & + li{
                    margin-top: 23px;
                    @include respond-to(xs){
                        margin-top: 10px;
                    }
                }
                .m-lang{
                    @include inline-block();
                }
                &.dropdown{
                    &.open{
                        background: #fff;
                        padding-bottom: 15px;
                        a{
                            color: #24ada4;
                            @include transition();
                            &:hover{

                            }
                        }
                        .level-2{

                        }
                    }
                }
            }
            .m-lang{
                ul{
                    padding-bottom: 50px;
                    li{
                        margin-top: 0;
                        a{
                            font-size: 19px;
                            @include transition();
                            &:hover{
                                background: transparent;
                                color: $color-h;
                                opacity: 0.7;
                            }
                            &.active{
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        .level-2{
            display: none;
            background: #fff;
            width: 100%;
            li{
                a{
                    padding: 7px 0;
                    color: #24ada4;
                    font-size: 18px;
                    font-family: $font-Light;
                    @include transition();
                    &:hover{
                        color: #1f756d !important;
                    }
                }
            }

        }

    }
} 


