@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/titillium/titilliumweb-extralight-webfont.eot');
    src: url('fonts/titillium/titilliumweb-extralight-webfont.eot%3F') format('embedded-opentype'),
         url('fonts/titillium/titilliumweb-extralight-webfont.woff') format('woff'),
         url('fonts/titillium/titilliumweb-extralight-webfont.ttf') format('truetype'),
         url('fonts/titillium/titilliumweb-extralight-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Titillium Web';
        src: url('fonts/titillium/titilliumweb-extralight-webfont.svg') format('svg');
        font-weight: 300;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/titillium/titilliumweb-regular-webfont.eot');
    src: url('fonts/titillium/titilliumweb-regular-webfont.eot%3F') format('embedded-opentype'),
         url('fonts/titillium/titilliumweb-regular-webfont.woff') format('woff'),
         url('fonts/titillium/titilliumweb-regular-webfont.ttf') format('truetype'),
         url('fonts/titillium/titilliumweb-regular-webfont.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Titillium Web';
        src: url('fonts/titillium/titilliumweb-regular-webfont.svg') format('svg');
        font-weight: 400;
        font-style: normal;
    }
}

@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/titillium/titilliumweb-bold-webfont.eot');
    src: url('fonts/titillium/titilliumweb-bold-webfont.eot%3F') format('embedded-opentype'),
         url('fonts/titillium/titilliumweb-bold-webfont.woff') format('woff'),
         url('fonts/titillium/titilliumweb-bold-webfont.ttf') format('truetype'),
         url('fonts/titillium/titilliumweb-bold-webfont.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Titillium Web';
        src: url('fonts/titillium/titilliumweb-bold-webfont.svg') format('svg');
        font-weight: 700;
        font-style: normal;
    }
}