$font-GSS: "GSS45", arial, sans-serif;
$font-Light: "FiraSansLight", arial, sans-serif;
$font-Bold: "FiraSansBold", arial, sans-serif;
$font-Hotwed: "hotwed";


$font: $font-Light;
$font-2: $font-Bold;


$color: #000;
$color-1: #ff4211;
$color-2: #24ada4;
$color-3: #e3eff2;
$color-4: #010626;
$color-5: #3c658d;
$color-6: #6e97b7;
$color-7: #274058;
$color-8: #041853;
$color-9: #cf360e;

$color-p: $color-7;
$color-h: $color-4;
$color-h1: $color;
$color-a: $color;
$color-a-hover: $color;
$color-border: $color-4;


$image_dir: '../img/';

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

$browser-context: 16;

$susy: (
    columns: 12,
    gutters: 0,
    math: fluid,
    output: float,
    global-box-sizing: content-box
);




