<div class="w-modal st-hot" style="width: 460px;">
    <div class="c-wrap">
        <div class="f-content">
            <p class="title">Ви вже придбали платний акаунт.
                Після завершення оплаченого періоду, ви зможете продовжити його або придбати інший пакет.</p>
        </div>
    </div>
</div>
