<div class="w-modal st-hot" style="width: 460px;">
    <div class="c-wrap">
        <div class="f-content">
            <p class="title">
                Ви вже використали максимальний ліміт міст. Будь ласка дочекайтесь завершення терміну проплати.
            </p>
        </div>
    </div>
</div>
