/** ============================
    basic_styles
    ======================== **/
a:focus, button:focus {
	outline: none;
}

h1 {
	color: $color-h;
    font-size: 30px;
    line-height: lh(60, 54);
    font-family: $font-GSS;
    @include respond-to(sm){
        font-size: 54px;
    }
}

h2 {
	color: $color-h;
    font-size: 42px;
    line-height: lh(45, 42);
}

h3 {
	color: $color-h;
    font-size: 30px;
    line-height: lh(36, 30);
}

h4 {
	color: $color-h;
    font-size: 28px;
    line-height: lh(34, 28);
}

h5 {
	color: $color-h;
    font-size: 34px;
    line-height: lh(30, 34);
}

p {
    font-size: 18px;
    line-height: lh(29, 18);
	color: $color-p;
}

strong {
	font-family: $font-2;
}

a {
	color: $color-a;
	text-decoration: none;
	&:hover {
		color: $color-a-hover;
	}
}

// виділення тексту
::-moz-selection {
	color: #fff;
    background: #24ADA4;
}

::selection { 
    color: #fff;
    background: #24ADA4;
}

#aDelProfile{
    h3 {
        color: #ccc;
        text-decoration: none;
        &:hover {
            color: red;
        }
    }
}


