/** ============================
    cms_content
    ======================== **/
#cms_content {

	a {
        color: #f63440;
        border-bottom: 1px solid transparent;
        @include transition();
		&:hover {
            color: #f63440;
            border-bottom: 1px solid #f63440;
		}
	}
	h2 {
        color: #010626;
        @include respond-to(xs){
            font-size: 24px;
        }
	}
	p {
        color: #274058;
        margin: 17px 0;
        @include respond-to(xs){
            margin: 12px 0; 
            font-size: 18px;
        }
        & + ul{
            margin-top: 0; 
        }

	}
    img{
        max-width: 100%;
        height: auto;
        display: block;
    }
    h2{
        font-family: $font-GSS;
        padding: 17px 0;
    }
	h4 {

	}
	h5 {

	}
	ul {
        margin-left: 16px;
        padding: 17px 0;
		li {
            padding-left: 13px;
            background: url("../img/icons/li.png") no-repeat 0 10px;
            font-size: 18px;
            line-height: 24px;
            color: #274058;
			& + li {
                margin-top: 15px;
			}
		}
		& + h2 {

		}

	}
	ol {
		counter-reset: li;
		padding: 0;
		list-style: none;
		padding-bottom: 30px;
		li {

			& + li {

			}
			&:before {
				content: counter(li);
				counter-increment: li;
				position: absolute;
				top: -1px;
				left: -24px;
				width: 2em;

			}
		}

	}

	blockquote {

		h5 {

		}
		p {

			&:last-child {

			}
		}
	}
	iframe {

	}
	strong {

	}
	table {

		tr {

			td {

				&:first-child {

				}
			}
			&:nth-child(odd) {

			}
		}
	}

}

.cms_content {
	@extend #cms_content;
}