@font-face {
    font-family: 'GSS45';
    src: url('../fonts/gss/GSS45.eot');
    src: url('../fonts/gss/GSS45.eot') format('embedded-opentype'),
         url('../fonts/gss/GSS45.woff2') format('woff2'),
         url('../fonts/gss/GSS45.woff') format('woff'),
         url('../fonts/gss/GSS45.ttf') format('truetype'),
         url('../fonts/gss/GSS45.svg#GSS45') format('svg');
}

@font-face {
    font-family: 'FiraSansLight';
    src: url('../fonts/fira/light/FiraSansLight.eot');
    src: url('../fonts/fira/light/FiraSansLight.eot') format('embedded-opentype'),
         url('../fonts/fira/light/FiraSansLight.woff2') format('woff2'),
         url('../fonts/fira/light/FiraSansLight.woff') format('woff'),
         url('../fonts/fira/light/FiraSansLight.ttf') format('truetype'),
         url('../fonts/fira/light/FiraSansLight.svg#FiraSansLight') format('svg');
}

@font-face {
    font-family: 'FiraSansBold';
    src: url('../fonts/fira/bold/FiraSansBold.eot');
    src: url('../fonts/fira/bold/FiraSansBold.eot') format('embedded-opentype'),
         url('../fonts/fira/bold/FiraSansBold.woff2') format('woff2'),
         url('../fonts/fira/bold/FiraSansBold.woff') format('woff'),
         url('../fonts/fira/bold/FiraSansBold.ttf') format('truetype'),
         url('../fonts/fira/bold/FiraSansBold.svg#FiraSansBold') format('svg');
}

@font-face {
    font-family: 'hotwed';
    src:url('../fonts/hotwed/hotwed.eot?-we2m6t');
    src:url('../fonts/hotwed/hotwed.eot?#iefix-we2m6t') format('embedded-opentype'),
        url('../fonts/hotwed/hotwed.ttf?-we2m6t') format('truetype'),
        url('../fonts/hotwed/hotwed.woff?-we2m6t') format('woff'),
        url('../fonts/hotwed/hotwed.svg?-we2m6t#hotwed') format('svg');
    font-weight: normal;
    font-style: normal; 
}
