<section class="l-good-know">
    <div class="container">
        <div class="header">
            <h2>{$t.related_articles}</h2>
            <div class="btn-group">
                <a class="btn-prev animation-left">
                    <i class="icon-arrow-left"></i>
                </a>
                <a class="btn-next animation-right">
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div>
        <div id="good-know" class="owl-carousel">
            {foreach $items as $item}
                <div class="item" style="height: auto">
                    <div class="midle">
                        <a href="{$item.id}" title="{$item.title}">
                            <div class="title">
                                <span>{$item.name}</span>
                            </div>
                            <img src="{$item.img.src}" alt="{$item.img.alt}">
                            <p>{$item.description}</p>
                        </a>
                    </div>
                </div><!-- .item -->
            {/foreach}
        </div>
        <div class="footer">
            <a href="4" class="btn png-red">{$t.blog_more}</a>
        </div>
    </div>
</section><!-- .l-good-know -->