<form class="m-module m-input-search" method="get" action="23">
    <div class="input-group">
        <input required="" name="sq" class="town" type="text" placeholder="{$t.search_form_ph}">
        <i class="sprite i-14"></i>
    </div>
</form><!-- .m-module -->