/** ============================
    btn
    ======================== **/
.btn {
    height: 54px;
    line-height: 52px;
    padding: 0 33px;
    color: #fff;
    background: transparent;
    @include transition();
    font-family: $font-GSS;
    cursor: pointer;
    @extend .inline-block;
    @include border-radius(5px);
    font-size: 18px;
    @include respond-to(xs){
        display: block;
        width: 100%;
        text-align: center; 
    }
    &.around{
        padding-left: 75px;
        &:before{
            font-size: 24px !important;
            left: 29px;
            right: auto;
        }
    }
    &.text-white{
        color: #fff !important;
        &:hover{
            color: #010626 !important;
        }
        &:active{
            color: #010626 !important;
        }
    }
    &.png-red{
        background: transparent;
        border: 1px solid #ff4211;
        color: #010626;
        &:hover{
            border: 1px solid #ff4211;
            background: #ff4211;
            color: #fff;
        }
        &:active{
            border: 1px solid #ff4211;
            background: #ff4211;
            color: #fff;
        }

    }
    &.png-white-red{
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        &:hover{
            border: 1px solid #ff4211;
            background: #ff4211;
        }
        &:active{
            border: 1px solid #ff4211;
            background: #ff4211;
        }
    }
    &.red{
        background: #ff4211;
        border: 1px solid #ff4211;
       
        
        &:hover{
            background: #cf360e;
            border: 1px solid #cf360e;
            color: #fff;
        }
        &:active{
            background: #cf360e;
            border: 1px solid #cf360e;
            color: #fff;
        }
    }
    &.green{ 
        background: #24ada4;
        @include transition(); 
        &:hover, &:active{
            background: #1c8780;
            color: #fff; 
        } 
    }
    &.icons-png-red{        
        line-height: 48px; 
        background: transparent;
        border: 1px solid #ff4211;
        color: #ff4211;
        position: relative;
        &:hover, &:active{
            border: 1px solid #ff4211;
            background: #ff4211;
            color: #fff;
        }
        span{
            @include inline-block();
        }
        &.icons-around{ 
            padding-left: 65px;
            padding-right: 30px;
            span{
                position: relative;
                &:before{
                    content: "\e601";
                    position: absolute;
                    left: -40px;
                    font-size: 24px;
                    color: $color-1;
                    font-family: $font-Hotwed;
                    @include transition(0.1s);
                    -webkit-transition-duration: 1s;
                    transition-duration: 1s;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                    -webkit-transition-timing-function: ease-in-out;
                    transition-timing-function: ease-in-out;
                }
            }
            &:hover{
                span{
                    &:before{
                        color: #fff;
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }
                }
            }
            @include respond-to(xs){
                padding-left: 53px;
                text-align: center;
                display: block;
                width: 100%;
            }
        }
        &.icons-calendar{
            padding-left: 65px;
            padding-right: 30px; 
            span{
                position: relative;
                &:before{ 
                    content: "\e605";
                    position: absolute;
                    left: -40px;                      
                    font-size: 24px;
                    color: $color-1;
                    font-family: $font-Hotwed;                    
                }
            }     
            &:hover{
                span{
                    &:before{
                        color: #fff;                        
                    }
                }              
            }
            @include respond-to(xs){               
                padding-left: 53px;
                text-align: center;
                display: block;
                width: 100%;                
            }  
        }  
        &.arrow-left{
            padding-left: 65px;
            padding-right: 30px;
            span{
                position: relative;
                &:before{
                    left: -48px;  
                    position: absolute;
                    width: 31px;
                    height: 31px;
                    font-family: $font-Hotwed; 
                    border: 1px solid $color-1;
                    @include border-radius(50%);
                    line-height: 31px;
                    text-align: center;
                    content: "\e61b";
                    color: $color-1;
                    font-size: 17px;
                    top: 50%;
                    margin-top: -15px;                     
                }
                @include transition(); 
            }
            &:hover{
                span{ 
                    &:before{
                        color: #fff;                      
                        border: 1px solid #fff; 
                    }
                }
            }
            @include respond-to(xs){
                padding-left: 53px;
                text-align: center;
                display: block;
                width: 100%;
                span{ 
                    &:before{
                        left: -50px; 
                    }
                }
            }               
        }
        &.icons-open_mail{           
            position: relative;
            padding-left: 64px;
            padding-right: 10px;  
            @include inline-block();   
            span{
                position: relative; 
                &:before{
                    content: "\e611";
                    left: -36px;
                    font-family: $font-Hotwed; 
                    font-size: 24px;
                    color: #ff4211;
                    position: absolute;
                    @include transition();
                }
            }            
            &:hover{ 
                span{
                    &:before{
                        color: #fff;
                    }
                }                
            }    
            @include respond-to(xs){
                text-align: center; 
                padding-left: 40px;
                span{
                    &:before{
                        left: -31px; 
                    }
                }
            } 
        } 
        &.icon-calendar{  
            padding-left: 55px;
            padding-right: 20px;
            font-size: 18px; 
            @include inline-block();
            span{
                @include inline-block();
                position: relative;
                &:before{ 
                    left: 36px; 
                    top: 50%;
                    margin-top: -10px; 
                    font-size: 20px;
                    color: #ff4211;
                    position: absolute;
                    @include transition();
                }
            }            
            &:hover{
                span{
                    &:before{
                        color: #fff;
                    }
                }                 
            }
            @include respond-to(xs){
                text-align: left;
            }
        }
        &.icons-massage{
            @include inline-block();
            position: relative;
            padding-left: 64px; 
            padding-right: 33px;          
            font-size: 18px; 
            @include inline-block();
            span{
                position: relative;
                &:before{                  
                    left: -40px;
                    font-size: 21px;
                    top: 50%;
                    margin-top: -21px;  
                    color: #ff4211;
                    font-family: $font-Hotwed;
                    position: absolute;
                    @include transition();
                    content: "\e610"; 
                }
            }            
            &:hover{
                span{
                    &:before{
                        color: #fff;
                    }
                }                
            }
        }
        &.plus-circle{
            @include inline-block();
            position: relative;
            padding-left: 64px;
            padding-right: 33px; 
            font-size: 18px;
            @include inline-block();
            span{
                position: relative;
                &:before{
                    content: "\e615"; 
                    width: 24px;
                    font-family: $font-Hotwed; 
                    height: 21px;
                    left: -40px; 
                    font-size: 31px;
                    color: #ff4211; 
                    position: absolute;
                    @include transition();
                }
            }           
            &:hover{
                span{
                    &:before{
                        color: #fff;
                    } 
                }                
            } 
        }            
    }
    &.icons-png-blue{
        color: #3c658d;
        border: 1px solid #3c658d;        
        &:hover, &:active{
            font-size: 18px;
            color: #fff;
            background: #3c658d; 
            border: 1px solid #3c658d; 
        }            
        &.plus-circle{
            @include inline-block();
            position: relative;
            padding-left: 64px;
            padding-right: 33px;
            font-size: 18px;
            @include inline-block();
            span{
                position: relative;
                &:before{
                    content: "\e615";
                    width: 24px;
                    font-family: $font-Hotwed;
                    height: 21px;
                    left: -40px;
                    font-size: 31px;
                    color: #3c658d;
                    position: absolute;
                    @include transition();
                }
            }
            &:hover{
                span{
                    &:before{
                        color: #fff;   
                    }
                }
            }
        }
    }
    &.white-green{
        background: #fff;
        color: #24ada4;
        &:hover, &:active{
            background: #dcf5f4;
        }
    }
    &.no-border{
        border: none;
    }
    &.icons-heart{
        @include inline-block();
        position: relative;
        padding-left: 70px;  
        padding-right: 10px;
        margin-right: 14px;        
        color: #3c658d;
        border: 1px solid #3c658d; 
        span{
            position: relative;
            &:before{              
                left: -40px; 
                font-size: 24px;
                content: "\e60b";
                color: #3c658d;
                position: absolute;
                @include transition();
                font-family: $font-Hotwed;  
            }
        }        
        &:hover{
            border: 1px solid #ff4211;
            color: #ff4211;
            background: #fff; 
            span{
                &:before{
                    color: #ff4211;
                }
            }            
        }
    }
    &.icons-image{
        @include inline-block(); 
        position: relative;
        padding-left: 70px;
        padding-right: 30px; 
        color: #fff;
        border: 1px solid $color-1;
        span{
            position: relative;
            &:before{
                left: -40px; 
                font-size: 24px; 
                content: "\e60d";
                color: #fff; 
                position: absolute;
                @include transition();
                font-family: $font-Hotwed;
            }
        }
        &:hover{
            background: #cf360e;
            border: 1px solid #cf360e;            
            span{
                &:before{
                    color: #fff;
                }
            }
        }
        @include respond-to(xs){  
            color: $color-1;
            border: 1px solid $color-1;
            background: #fff;
            span{
                position: relative;
                &:before{
                    left: -40px;
                    font-size: 24px;
                    content: "\e60d";
                    color: $color-1;
                    position: absolute;
                    @include transition();
                    font-family: $font-Hotwed;
                }
            }
            &:hover{
                background: $color-1;
                border: 1px solid $color-1;
                color: #fff;
                span{
                    &:before{
                        color: #fff;
                    }
                }
            }
        }
        @include respond-to(sm){ 
            color: $color-1;
            border: 1px solid $color-1;
            background: #fff; 
            span{
                position: relative;
                &:before{
                    left: -40px;
                    font-size: 24px;
                    content: "\e60d";
                    color: $color-1; 
                    position: absolute;
                    @include transition();
                    font-family: $font-Hotwed;
                }
            }
            &:hover{
                background: $color-1;
                border: 1px solid $color-1;
                color: #fff; 
                span{
                    &:before{
                        color: #fff; 
                    }
                }
            }
        }
    }
}
.btn-prev, .btn-next{
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    background: #fff;
    cursor: pointer;
    text-align: center;
    border: 1px solid #96e1dd;
    @include transition();
    i{
        @include inline-block();
        line-height: 38px;
        font-size: 15px;
        color: #148882; 
        @include transition(); 
    }
    &:hover{
        border: 1px solid #24ada4;
        i{
            color: #24ada4; 
        }
    }
    &.disabled{
        display: none !important;  
    }
}
.btn-prev{
    & + .btn-next{
        margin-left: 9px;
    }
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none;
}


