/** ============================
    modules
    ======================== **/
.m-filter-people{
    .filter-content{
        background: rgba(#02fff3, 0.4);
        padding: 12px 15px;
        @include respond-to(sm){
            margin: 0 14px;
        }
        .col-4{
            padding-right: 2.3364486%;
            &:last-child{
                padding-right: 0;
            }
            @include respond-to(xs){
                @include span(12);
                padding-right: 0;
            }
        }
        .filter-border{
            padding: 22px 3.0701754% 36px;
            @include susy-clearfix();
            
        }
        .title{
            color: #fff;
            font-size: 18px;
            padding-bottom: 5px;
            @include respond-to(xs){
                padding-top: 20px;
            }
            @include respond-to(md){
                font-size: 20px;
            }
        }
        .jq-selectbox{
            cursor: pointer;
            background: #fff;
            width: 100%;
            height: 64px;
            @include border-radius(5px);
            border: 1px solid #fff;
            &:hover{
                .jq-selectbox__trigger-arrow{
                    @include animation(slidetobottom 0.4s forwards);
                }
            }
            select{
                display: none;
            }
            &.opened{
                cursor: pointer;
                border: 1px solid #24ada4;
            }
            
            &.focused {
                cursor: pointer;
            }
            
            .jq-selectbox__select-text{
                height: 64px;
                width: 100%;
                font-size: 20px;
                line-height: 64px;
                padding: 0 46px 0  26px;
//                @include respond-to(xs){
//                    padding: 0 46px 0  26px;
//                }
            }
            .jq-selectbox__dropdown{
//                display: block !important;
                margin-top: -1px;
                width: 100%;
//                width: 200px;
                border: 1px solid #24ada4;
                @include border-radius(5px);
                background: #fff;
                z-index: 2;
                

                ul{
                    height: 180px;
                    width: 100%;
                    overflow: hidden;
//                    z-index: 999;
                }
                li{
                    color: #000;
                    padding: 0 26px;
                    display: block;
                    width: 100%;
                    font-size: 20px;
                    line-height: lh(36, 20);
                    @include transition();
                    &:hover{
                        background: #e3eff2;
                    }
                }
            }
            .jq-selectbox__trigger{
                position: absolute;
                height: 8px;
                right: 10px;
                width: 15px;
                top: 50%;
                margin-top: -4px;
            }
            .jq-selectbox__trigger-arrow{
                font-size: 8px;

                &:before{
                    font-family: $font-Hotwed;
                    content: "\e602";
                    font-size: 8px;
                    color: $color-2;
                }
            }
        }
        .date{
            position: relative;
            .bg-input{
                background: #fff;
                position: relative;
                @include border-radius(5px);
                .icon-calendar_2{
                    font-size: 30px;
                    position: absolute;
                    z-index:1;
                    right: 20px;
                    top: 18px;
                    color: #50cdc7;
                }
            }
            input{
                z-index: 2;
                position: relative;
                border: 1px solid #fff;
                @include border-radius(5px);
                background: transparent;
                height: 64px;
                width: 100%;
                &:hover, &:focus{
                    border: 1px solid #24ada4;
                }
            }
            .ui-datepicker{
                @include border-radius(5px);
                th{
                    background: #e3eff2;
                    border-bottom: 1px solid #24ada4;
                    font-size: 15px;
                    color: #010626;
                    line-height: 43px;
                    padding: 0;
                }
                td{
                    text-align: center;
                    font-size: 17px;
                    color: #010626;
                    position: relative;
                    height: 36px;
                    line-height: 36px;
                    a{
                        display: inline-block;
                        vertical-align: middle;
                        &:before{
                            content: "";
                            position: absolute;
                            background: #fff;
                            width: 30px;
                            height: 30px;
                            z-index: -1;
                            left: 50%;
                            margin-left: -15px;
                            top: 50%;
                            margin-top: -15px;
                        }
                        &:hover{
                            color: #fff;
                            &:before{
                                border: 1px solid #ff4211;
                                background: #ff4211;
                            }
                        }
                        &.ui-state-active{
                            &:before{
                                border: 1px solid #ff4211;
                                background: #fff;
                            }
                            &:hover{
                                color: #010626;
                            }
                        }
                    }
                    &.ui-datepicker-today{
                        a{
                            &:before{
                                border: 1px solid #24ada4;
                            }
                        }
                    }
                    &.ui-state-disabled{
                        td{
                            span{
                                color: #778d9e !important;
                                background: #fff !important;
                                &:before{
                                    border: 1px solid #fff;
                                }
                                &:hover{
                                    color: #778d9e;
                                    &:before{
                                        border: 1px solid #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
        
        .front-city-input,
        .front-spec-input   {
            
//            .select2-container {
//                height: 64px;
//                width: 100% !important;
//                font: 17px $font;
//                font-size: 20px;
//                line-height: 64px;
//                border-radius: 5px;
//                border: 1px solid #fff;
//                background: white;
//                cursor: pointer;
//            }
//
//
//            .select2-selection--single {
//                height: 62px;
//                width: 100% !important;
//                border: none;
//
//                &:hover {
//                    .select2-selection__arrow:before {
//                         @include animation(slidetobottom 0.3s forwards);
//
//                    }
//                }
//
//                .select2-selection__arrow {
//
//                    b {
//                        display: none;
//                    }
//
//                    &:before {
//                        font-family: "hotwed";
//                        content: "\e602";
//                        position: absolute;
//                        font-size: 8px;
//                        color: #9faaca;
//                    }
//                }
//
//            }
//
//            .select2-selection__rendered {
//                line-height: 60px;
//                padding: 0 20px;
//            }
            
        }
        
    }
    .footer{
        position: relative;
        .btn{
            text-transform: uppercase;
        }
        .reset{
            top: 15px;
            right: 49px;
            position: absolute;
            color: #fff;
            background: transparent;
            border: none;
            cursor: pointer;
            @include respond-to(xs){
                display: none;
            }
            span{
                @include inline-block();
                font-size: 18px;
            }
            i{
                @include border-radius(50%);
                overflow: hidden;
                margin-left: 19px;
                @include inline-block();
                font-size: 32px;
                @include transition();
                position: relative;
            }
            &:hover{
                i{
                    @include css3-prefix(box-shadow, inset 0px 0px 0px 15px #fff);
                    color: $color-1;
                }
            }
        }
    }
}

.front-city-input,
//.front-spec-input   {
//
//    .select2-container {
//        height: 64px;
//        width: 100% !important;
//        font: 17px $font;
//        font-size: 20px;
//        line-height: 64px;
//        border-radius: 5px;
//        border: 1px solid #fff;
//        background: white;
//        cursor: pointer;
//    }
//
//
//    .select2-selection--single {
//        height: 62px;
//        width: 100% !important;
//        border: none;
//
//        &:hover {
//            .select2-selection__arrow:before {
//                @include animation(slidetobottom 0.3s forwards);
//
//            }
//        }
//
//        .select2-selection__arrow {
//
//            b {
//                display: none;
//            }
//
//            &:before {
//                font-family: "hotwed";
//                content: "\e602";
//                position: absolute;
//                font-size: 8px;
//                color: #9faaca;
//            }
//        }
//
//    }
//
//    .select2-selection__rendered {
//        line-height: 60px;
//        padding: 0 20px;
//    }
//
//}

.m-button-search{
    cursor: pointer;
    color: #fff;
    font-size: 31px;
    display: none;
    @include transition();
    &:hover{
        color: $color-1;
    }
    @include respond-to(md){
        @include inline-block();
    }
}
.m-lang{
    margin-top: 10px;
    text-align: left;
    .m-button-search{
        display: none;
    }
    ul{
        margin-left: 36px;
        @include susy-clearfix();
    }
    li{
        float: left;
        margin: 0 10px;
    }
    a{
        font-size: 18px;
        color: #fff;
        line-height: 1;
        padding: 4px 3px;
        @include inline-block();
        position: relative;
        @include transition();
        cursor: pointer;
        &:after,&:before{
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            @include transition();
            @include translate3d();
            height: 1px;
            background: transparent;
        }
        &:after{
            top: -30px;
        }
        &:before{
            bottom: -30px;
        }
        &:hover{
            &:after,&:before{
                height: 1px;
                background: #fff;
            }
            &:after{
                top: 0;
            }
            &:before{
                bottom: 0;
            }
        }
        &.active{
            &:after,&:before{
                height: 1px;
                background: #81899d;
            }
            &:after{
                top: 0;
            }
            &:before{
                bottom: 0;
            }
            &:hover{
                &:after,&:before{
                    background: #fff;
                }
            }
        }
    }
}
.m-login{
    position: relative;
    line-height: 52px;
    i{
        display: none;
    }
    .login-btn{
        font-size: 18px;
        color: $color-1;
        font-family: $font-GSS;
        &:hover{
            color: $color-9;
        }
        span{
            @include inline-block();
            & + span{
                height: 52px;
                overflow: hidden;
                max-width: calc(100% - 42px);

                @media (max-width: 991px) {
                    height: auto;
                    line-height: 22px;
                    max-width: calc(100% - 100px);
                }
            }
        }
    }
    &.logged{
        i{
            @include inline-block();
            margin-left: 18px;
            font-size: 24px;
        }
        &:hover{
            .user-menu{
                visibility: visible;
                opacity: 1;
                top: 53px;
            }
        }
    }
    .user-menu{
        visibility: hidden;
        opacity: 0;
        top: 100px;
        text-align: left;
        position: absolute;
        z-index: 999;
        right: -8px;
        @include transition();
        &::before{
            position: absolute;
            content: "";
            background: url("../img/icons/tail.png") no-repeat;
            width: 14px;
            height: 9px;
            top: -8px;
            right: 13px;
            z-index: 2;
        }
        ul{
            @include border-radius(5px);
            border: 1px solid $color-1;
            overflow: hidden;
            position: relative;
            min-width: 200px;
            background: #fff;
            display: block;
        }
        li{
            font-size: 16px;
            line-height: 45px;
        }
        a{
            background: #fff;
            color: $color-h;
            display: block;
            padding: 0 20px;
            &:hover{
                background: $color-1;
                color: #fff;
            }
        }
    }
}
.m-scroll-top{
    position: fixed;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    background: #fff;
    bottom: 50px;
    border: 1px solid #ff4211;
    @include border-radius(5px);
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 54px;
    @include transition();
    display: none;
    .icon-arrow_square{
        font-size: 13px;
        color: $color-1;
        @include transition();
    }
    &:hover{
        background: #ff4211;
        .icon-arrow_square{
            color: #fff;
        }

    }
    @include respond-to(md){

        &.default{
            display: none;
        }
        &.hatch{
            display: block;
        }
    }
}
.m-pagination{
    @include susy-clearfix();
    text-align: right;
    padding-right: 15px;
    ul{
        @include inline-block();
    }
    li{
        float: left;
        &.active{
            span{
                border: 1px solid #ff8e70;
            }
        }
    }
    a, span{
        margin: 0 5px;
        font-size: 20px;
        color: #000f27;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        @include transition();
        border: 1px solid transparent;
        &:hover, &.active, &:active{
            border: 1px solid #ff8e70;
        }
        &.btn-prev, &.btn-next{
            border: 1px solid #7ccec8;
            color: #7ccec8;
            font-size: 15px;
            line-height: 38px;
        }

    }
}
.m-upload-photo{
    width: 212px;
    text-align: center;
    cursor: pointer;
    position: relative;
    .jq-file{
        display: block;
        cursor: pointer;
    }
    .jq-file__name{
        border: 2px dashed #b9cbdc;
        @include transition();
        width: 212px;
        height: 212px;
        display: block;
        font-size:0;
    }
    .jq-file__browse{
        margin-top: 15px;
        .btn{
            span{
                @include transition();
                position: relative;
                @include inline-block();
            }
        }
    }
    input{
        cursor: pointer;
    }
    &:hover{
        .jq-file__name{
            border: 2px dashed $color-1;
        }
        .jq-file__browse{
            .btn{
                background: #cf360e;
                border: 1px solid #cf360e;
                position: relative;
                @include inline-block();
                span{
                    &:before{
                        color: #fff;
                    }
                }
            }
        }
    }
    .icon-plus_circle{
        font-size: 31px;
        color: #3c658d;
    }
    .upload-title{
        padding-top: 12px;
    }
    @include respond-to(xs){
        width: 100%;
        .jq-file__name{
            margin: 0 auto;
        }
        .jq-file{
            width: 100%;
        }
        &:hover{
            .jq-file__browse{
                .btn{
                    background: $color-1;
                    border: 1px solid $color-1;
                    position: relative;
                    @include inline-block();
                    span{
                        color: #fff;
                        &:before{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    @include respond-to(sm){
        width: 100%;
        .jq-file__name{
            margin: 0 auto;
        }
        .jq-file{
            width: 100%;
        }
        &:hover{
            .jq-file__browse{
                .btn{
                    background: $color-1;
                    border: 1px solid $color-1;
                    position: relative;
                    @include inline-block();
                    span{
                        color: #fff;
                        &:before{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.m-form-box{
    text-align: left;
    .row{
        & + .row{
            margin-top: 20px;
        }
    }
    .column-l{
        @include span(12);
        margin-left: 0;
    }
    .column-r{
        @include span(12);
        padding-top: 30px;
        @include respond-to(xs){
            .m-upload-photo{
                margin: 0 auto;
                width: 100%;
                .jq-file{
                    width: 100%;
                }
                .jq-file__name{
                    margin: 0 auto;
                }
            }
        }
        @include respond-to(md){
            padding-top: 0;
            .m-upload-photo{
                width: 212px;
            }
        }
    }

    @include respond-to(md){
        .column-l{
            @include span(4);
            margin-left: span(4);
        }
        .column-r{
            @include span(4);
        }
    }

    //    .select2-container {
    //        border: 1px solid green;
    //
    //        .select2-results__options {
    //            position: absolute;
    //            top: 137px;
    //            left: 8px;
    //
    //            .select2-results__option {
    //                padding: 2px 3px;
    //            }
    //        }
    //    }


    .group-input{
        position: relative;
        width: 293px;
        margin: 0 auto;
        //overflow: hidden;
        .input-label{
            display: block;
            text-align: right;
            padding-right: 32px;
            width: 293px;
            top: 0;
            position: absolute;
            left: -100%;
            font-size: 18px;
            line-height: 38px;
            
            color: #3c658d;
            @include respond-to(xs){
                position: relative;
                left: 0;
                text-align: left;
                line-height: 30px;
            }
        }
        input{
            display: block;
            padding: 0 15px;
            height: 40px;
            border: 1px solid #b9cbdc;
            @include border-radius(0);
            width: 293px;
            @include transition();
            &:hover, &:focus{
                border: 1px solid #000a52;
            }
        }
        textarea{
            display: block;
            padding: 10px 15px;
            height: 90px;
            border: 1px solid #b9cbdc;
            @include border-radius(0);
            width: 293px;
            @include transition();
            &:hover, &:focus{
                border: 1px solid #000a52;
            }
        }
        
        .input{

//            .select2-container {
//                height: 64px;
//                width: 100% !important;
//                font: 17px $font;
//                font-size: 20px;
//                line-height: 64px;
//                border-radius: 5px;
//                border: 1px solid #fff;
//                background: white;
//                cursor: pointer;
//
//                &.select2-container--open,
//                &.select2-container--focus    {
//
//                    .select2-selection__rendered {
//                        border: 1px solid #24ada4;
//                    }
//                }
                
//            }


//            .select2-selection--single {
//                height: 62px;
//                width: 100% !important;
//                border: 1px solid #ccc;
//
//                &:hover {
//                    .select2-selection__arrow:before {
//                        @include animation(slidetobottom 0.3s forwards);
//
//                    }
//                }
//
//                .select2-selection__arrow {
//
//                    b {
//                        display: none;
//                    }
//
//                    &:before {
//                        font-family: "hotwed";
//                        content: "\e602";
//                        position: absolute;
//                        font-size: 8px;
//                        color: #9faaca;
//                    }
//                }
//
//            }
//
//            .select2-selection__rendered {
//                line-height: 60px;
//                height: 65px;
//                padding: 0 20px;
////                border: 1px solid #ccc;
////                border-radius: 5px;
//
//            }
            
            position: relative;
            label{
                float: left;
                & + label{
                    padding-left: 8px;
                }
                .jq-radio{
                    margin-right: 9px;
                }
            }
        }
        
        &.error{
            input{
                border: 1px solid $color-1;
            }
            i{
                color: $color-1;
                font-size: 16px;
                position: absolute;
                right: 14px;
                top: 12px;
            }
        }
        &.success{
            input{
                border: 1px solid #6bb231;
            }
            i{
                display: block;
                width: 16px;
                height: 16px;
                cursor: pointer;
                color: #6bb231;
                font-size: 16px;
                position: absolute;
                right: 14px;
                top: 12px;
            }
        }
        
        &.input-spec-field,
        &.input-city-field,
        &.input-currency-field {

//            .select2-container {
//                width: 100% !important;
//                height: 40px;
//                font: 17px $font;
//                font-size: 20px;
//                line-height: 15px;
//                border: 1px solid #fff;
//                background: white;
//                cursor: pointer;
//            }
//
//
//            .select2-selection--single {
//                width: 100% !important;
//                height: 40px;
//                border: 1px solid #b9cbdc;
//                border-radius: 0;
//
//                &:hover {
//                    .select2-selection__arrow:before {
//                        @include animation(slidetobottom 0.3s forwards);
//
//                    }
//                }
//
//                .select2-selection__arrow {
//
//                    b {
//                        display: none;
//                    }
//
//                    &:before {
//                        font-family: "hotwed";
//                        content: "\e602";
//                        position: absolute;
//                        top: 11px;
//                        font-size: 8px;
//                        color: #9faaca;
//                    }
//                }
//
//            }
//
//            .select2-selection--multiple {
//                @extend .select2-selection--single;
//
//                border-radius: 0;
//            }
//
//            .select2-selection__rendered {
//                line-height: 40px;
//                padding: 0 20px;
//            }

        }

//        &.input-city-field {
//            input:hover,
//            input:focus {
//                border: none;
//            }
//
//            .select2-search__field {
//                display: none;
//            }
//
//            .select2-selection__rendered {
//                position: relative;
//                left: 280px;
//                top: -4px;
//                line-height: 40px;
//                padding: 0 20px;
//
//                @include respond-to(479)    {
//                    left: -15px;
//                    top: 0;
//                }
//
//                .select2-selection__choice {
//                    height: 30px;
//                    line-height: 30px;
//                    font-size: 0.9rem;
//
//                    @include respond-to(479)    {
//                        font-size: 0.65rem;
//                    }
//
//
//            }
//            }
//        }

    }

    #usersProfile {
        .group-input {
            overflow: visible;
        }
    }

    .send{
        text-align: center;
        button{

        }
    }
}

//.select2-search {
//    position: absolute;
//    top: -64px;
//    width: 100%;
//
//   &.select2-search--dropdown {
//       border: none;
//
//       .select2-search__field {
//           border: none;
//
//           &:hover {
//               border: none;
//           }
//       }
//   }
//
//}



//.select2-search__field {
//    width: 100% !important;
//    margin-bottom: 10px;
//    cursor: pointer;
//
//    &:hover {
//        border: none;
//    }
//}





.m-star{
    width: 28px;
    height: 28px;
    display: block;
    cursor: pointer;
    &:hover{
        i{
            &:before{
                content: "\e618";
            }
        }
    }
    i{
        @include transition();
        font-size: 28px;
        color: $color-1;
    }
    @include respond-to(xs){
        width: 21px;
        height: 21px;
        i{
            font-size: 21px;
        }
    }
}
.m-sorting{
    &.jq-selectbox{
        float: right;
        position: relative;
        cursor: pointer;
        min-width: 194px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    select{
        display: none;
    }
    .jq-selectbox__select-text{
        font-size: 16px;
        line-height: 45px;
        color: #99a5c8;
        text-align: right;
        padding-right: 35px;
    }
    .jq-selectbox__trigger{
        width: 15px;
        height: 8px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: 1px;
        .jq-selectbox__trigger-arrow{
            position: relative;
            width: 15px;
            height: 8px;
            &:before{
                font-family: $font-Hotwed;
                content: "\e602";
                position: absolute;
                font-size: 8px;
                color: #9faaca;

            }
        }
    }
    .jq-selectbox__dropdown{
        border: 1px solid #99a5c8;
        @include border-radius(5px);
        overflow: hidden;
        li{
            padding: 10px 22px;
            font-size: 16px;
            color: #99a5c8;
            background: #fff;
            @include transition();
            &:hover{
                background: #99a5c8;
                color: #fff;
            }
        }
    }
    @include respond-to(xs){
        .jq-selectbox{
            float: left;
            .jq-selectbox__select-text{
                text-align: left;
            }
            .jq-selectbox__trigger{
                right: 57px;
            }

        }
    }
}
.town{
    @include inline-block();
    padding-left: 22px;
    a{
        display: block;
        color: #24ada4;
        font-size: 18px;
        span{
            color: #24ada4;
            @include transition();
            position: relative;
            &:before{
                position: absolute;
                content: "\e613";
                font-size: 16px;
                color: #3c658d;
                font-family: $font-Hotwed;
                left: -22px;
                top: 50%;
                margin-top: -8px;
            }
        }
        @include transition();
        &:hover{
            span{
                color: #24ada4;
            }
        }
    }
}
.m-pop-up-message{
    padding: 50px 67px;
    background: #fff;
    .text{
        text-align: center;
        p{
            font-size: 18px;
            line-height: 36px;
            color: #010626;
            font-family: $font-GSS;
        }
    }
    @include respond-to(xs){
        padding: 20px;
    }
    .btn-group{
        //        margin-top: 30px;
        .red{
            margin-right: 15px;

        }
        @include respond-to(xs){
            .btn{
                width: 100%;
                display: block;
                margin-right: 0;
                & + .btn{
                    margin-top: 20px;
                }
            }
        }
    }
}
.pop-up-middle{
    &.feedback{
        .row{
            &.input-box{
                @include respond-to(sm){
                    label{
                        width: 143px;
                        padding-right: 20px;
                    }
                }
            }
            &.footer{
                padding: 0;
                text-align: center;
            }
        }
    }
    h2{
        text-align: center;
        font-family: $font-GSS;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 20px;
        @include respond-to(xs){
            font-size: 18px;
            line-height: 22px;
        }
    }
    .row{
        width: 100%;
        &.input-box{
            display: table;
            label{
                display: table-cell;
                vertical-align: middle;
                font-size: 17px;
                line-height: 18px;
                color: #3c658d;
                padding-right: 30px;
                text-align: right;
                width: 110px;
            }
            input, textarea{
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding: 0 15px;
                height: 40px;
                border: 1px solid #b9cbdc;
                &:hover, &:active{
                    border: 1px solid $color-h;
                }
            }
            textarea{
                height: 150px;
                padding: 10px 15px;
            }

            @include respond-to(xs){
                label{
                    text-align: left;
                    display: block;
                    width: 100%;
                    padding-bottom: 5px;
                }
                input{
                    width: 100%;
                    display: block;
                }
            }
        }
        &.input-message{
            margin-top: 0 !important;
            p{
                font-size: 12px;
                color: #6e97b7;
                text-align: center;
                padding-top: 5px;
                a{
                    color: $color-1;
                    border-bottom: 1px solid transparent;
                    @include transition();
                    &:hover{
                        border-bottom: 1px solid $color-1;
                    }
                }
            }
            @include respond-to(xs){
                margin-left: 0;
            }
        }
        &.footer{
            text-align: left;
            padding-left: 113px;
            .type{
                label{
                    &:first-child{
                        padding-right: 33px;
                    }
                }
            }
            .regulations{
                .jq-checkbox{
                    vertical-align: top;
                    float: left;
                }
                span{
                    padding-left: 22px;
                    display: block;
                    a{
                        color: $color-1;
                        border-bottom: 1px solid transparent;
                        @include transition();
                        &:hover{
                            border-bottom: 1px solid $color-1;
                        }
                    }
                }
            }

            @include respond-to(xs){
                padding-left: 0;
                .btn{
                    width: 100%;
                    display: block;
                }
                .footer{
                    padding-left: 0;
                }
            }
        }
        &.entry{
            font-size: 12px;
            color: #6e97b7;
            line-height: 14px;
            text-align: center;
            a{
                color: $color-1;
                border-bottom: 1px solid transparent;
                @include transition();
                &:hover{
                    border-bottom: 1px solid $color-1;
                }
            }
        }
        & + .row{
            margin-top: 20px;
            text-align: center;
            padding: 0;
        }

    }
}
.response{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
    color: $color-1;
    font-family: $font-GSS;
}
.tn{
    display: none !important;
    height: 16px;
    width: 16px;
    @include border-radius(50%);
    background: $color-1;
    text-align: center;
    font-size: 14px;
    font-family: $font-Light;
    color: #fff;
    line-height: 17px;
    margin: 0 10px;
    &.on{
        display: inline-block !important;
        vertical-align: middle;
    }
}

.select2-dropdown {


//    .select2-results__options {
////        position: absolute;
//        width: 100% !important;
//        max-height: 200px;
//        overflow-y: scroll;
//        background: white;
//        z-index: 999;
//        border: 1px solid #24ada4;
//        border-bottom-left-radius: 3px;
//        border-bottom-right-radius: 3px;
//
//        .select2-results__option {
//            border: 1px solid #fff;
//            background: white !important;
//            font: 16px $font;
//            color: #000;
//            padding: 0 10px;
//            display: block;
//            width: 100% !important;
//            font-size: 20px;
//            line-height: 1.8;
//            overflow: hidden;
//            text-overflow: ellipsis;
//            white-space: nowrap;
//
//
//            @include transition(0.35s);
//
//            &.select2-results__option--highlighted {
//                background-color: #ccc !important;
//                color: #000 !important;
//            }
//
//            &:hover {
//                background: #ccc;
//                color: #000;
//            }
//        }
//
//
//        li {
//            width: 100%;
//            height: 40px;
//            font-size: 20px;
//            line-height: 40px;
//            padding: 0 0 0 15px;
//            box-sizing: border-box;
//
//            &:hover {
//                background: #EBEDF5;
//                cursor: pointer;
//            }
//        }
//
//    }

}


.reserve-form {
    width: 600px;
    padding: 0 50px;
    box-sizing: border-box;
    border-radius: 3px;
    
    input {
        height: 40px;
        width: 67%;
        padding: 0;
        border: 1px solid #828eab;
        border-radius: 2px;
        margin-bottom: 10px;
        float: right;
        box-sizing: border-box;
        padding-left: 10px;
    }
    
    .row {
        line-height: 40px;
        
        &.reserve-button {
            margin: 10px 0 0 0;
            text-align: center;
        }
    }
    
}

.reserve-form-header {
    height: 60px;
    line-height: 40px;
    padding-left: 50px;
    font-family: $font-Light;
    font-size: 1.6em;
    color: rgb(68, 68, 68);
}

.reserve-success {
//    width: 600px;
    padding: 25px 0 10px 22px;
    font-size: 17px !important;
    text-align: center;
    height: 100px;
}

.w-modal{
    @media (max-width: 767px){
        width: 290px;
    }
    &.st-hot{
        p.title{
            color: #ff4211;
        }
        .total{
            p > span{
                color: #ff4211;
            }
        }
    }
    &.st-gold{
        p.title{
            color: #662472;
        }
        .total{
            p > span{
                color: #662472;
            }
        }
        .btn.red{
            background: #662472;
            border: 1px solid  #662472;
            &:hover{
                background: darken(#662472, 10%);
                border: 1px solid  darken(#662472, 10%);
            }
        }
    }
    width: 460px;
    background: #fff;
    margin: 50px auto;
    .f-content{
        @media (max-width: 767px) {
            max-width: 250px;
        }
        @include clearfix;
        max-width: 325px;
        margin: auto;
        padding: 22px 0 5px 0;
        .title{
            font-size: 24px;
            font-family: $font-GSS;
            text-align: center;
            margin: 0 0 18px 0;
        }
        p:not(.title){
            color: #3c658d;
            font-size: 14px;
            line-height: 18px;
            margin: 0 0 8px 0;
            & > strong{
                color: #24ada4;
                font-family: $font-Bold;
            }
        }
        ul{
            list-style-image: url(../img/icons/6.png);
            padding: 0 0 0 15px;
            li{
                @extend p;
            }
        }
    }
    form{
        @media (max-width: 767px) {
            max-width: 100%;
            overflow: hidden;
        }
        .f-content{
            padding: 10px 0;

        }
        .inline-input{
            @include clearfix;
            background: #24ada4;
            width: 100%;
            label{
                @media (max-width: 767px) {
                    width: 100%;
                }
                float: left;
                width: 80px;
                color: #fff;
                font-size: 17px;
                line-height: 22px;
                padding: 9px 0;
            }
            .in-wr{
                @media (max-width: 767px) {
                    width: 100%;
                }
                width: 245px;
                float: left;
                input{
                    width: 100%;
                    height: 40px;
                    background: #fff;
                    padding: 0 15px;
                    font-size: 16px;
                }
            }
            & + .f-content{
                padding: 15px 0 30px 0;
            }
        }
        .f-check-wrap{
            padding: 0 0 20px 0;
            label{
                display: block;
                & + label{
                    margin-top: 10px;
                }
                .label{
                    color: #3c658d;
                    font-size: 16px;
                    & > strong{
                        color: #24ada4;
                    }
                }
                .jq-radio{
                    vertical-align: top;
                    margin-right: 4px;
                    &.checked{
                        border: 1px solid #24ada4;
                        &:before{
                            background: #24ada4;
                        }
                    }
                }
            }
        }
        .total{
            text-align: center;
            margin-bottom: 15px;
            p{
                color: #3c658d;
                font-size: 17px;
                span{
                    font-size: 24px;
                }
            }
        }
        .submit{
            text-align: center;
            .link{
                margin: 10px 0 0 0;
                a{
                    text-decoration: none;
                    color: #6e97b7;
                    cursor: pointer;
                    border-bottom: 1px solid #bfcfdd;
                    transition: all .3s ease;
                    &:hover{
                        border-bottom: 1px solid transparent;
                    }
                }
            }
        }
    }
}


//*MYROSLAV SELECT_2*//

.front-spec-input,
.front-city-input{
    .select2{
        &.select2-container--open{
            .select2-selection{
                border: 1px solid #24ada4;
            }
        }
        width: 100% !important;
        .select2-selection{
            border-radius: 5px;
            height: 64px;
            border: 1px solid #b9cbdc;
            width: 100%;
            padding: 21px 15px;

            &:hover{
                border-color: #FAA376;
            }
            .select2-selection__rendered{
                font-size: 20px;
                line-height: 22px;
            }
            .select2-selection__arrow{
                width: 62px;
                height: 62px;
                b{
                    display: none;
                }
                &:before{
                    font-family: hotwed;
                    content: "\e602";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 62px;
                    color: #9faaca;
                    font-size: 8px;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}

.input{
    &.multiple{
        .select2-selection {
            height: auto !important;
            padding: 0 !important;
            .select2-selection__rendered{
                padding: 0 !important;
            }
            .select2-selection__choice{
                margin: 3px !important;
                border: 1px solid #000a52;
                border-radius: 0;
                background: #fff;
                padding: 5px 10px;
                .select2-selection__choice__remove{
                    color: #ff4211;
                    margin: 0 5px 0 0;
                }
            }
        }
        .select2-search__field{
            border: none !important;
        }
    }
    .select2{
        &.select2-container--open{
            .select2-selection{
                border: 1px solid #24ada4;
            }
        }
        width: 100% !important;
        .select2-selection{
            border-radius: 0;
            height: 40px;
            border: 1px solid #b9cbdc;
            width: 100%;
            padding: 8px 5px;
            .select2-selection__rendered{
                font-size: 20px;
                line-height: 22px;
            }
            .select2-selection__arrow{
                width: 38px;
                height: 38px;
                b{
                    display: none;
                }
                &:before{
                    font-family: hotwed;
                    content: "\e602";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    line-height: 38px;
                    color: #9faaca;
                    font-size: 8px;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
}


.select2-dropdown{
    border: 1px solid #24ada4;
    border-radius: 0;
    .select2-search__field{
        position: absolute;
        top: -60px;
        background: #fff;
        border: none !important;
        width: 80%;
        padding: 0 18px;
    }
    .select2-results{
        .select2-results__options{
            li{
                font-size: 20px;
                &.select2-results__option--highlighted{
                    background: #ccc;
                    color: #000;
                }
            }
        }
    }
}

//16.05
.jq-selectbox__dropdown ul {
    max-height: 200px;
    overflow-y: auto;
}











