<div class="m-pop-up-message">
     <div class="text">
         <div class="row">
             <p>Ви справді хочете видалити повідомлення?</p>
         </div>
         <div class="row">
             <div class="btn-group">
                 <a class="btn red" href="#">Так,хочу</a> 
                 <a class="btn green" href="#">Ні, повернутись назад</a>
             </div>
         </div>         
     </div>
</div> 