[class^="animation-"], [class*=" animation-"] {
	overflow: hidden;
	i, span{
		display: inline-block;
		@include css3-prefix(transform, translateX(0));
	}
}

.animation-left:hover i{
	@include animation(slidetoleft 0.4s forwards);
}

.animation-right:hover i{
	@include animation(slidetoright 0.4s forwards);
}

.animation-bottom:hover i{
    @include animation(slidetobottom 0.4s forwards);
}

.animation-top:hover span, .animation-top:hover i{
	@include animation(slidetotop 0.4s forwards);
}

@include keyframesAnimation(slidetotop){
	49% {
		@include css3-prefix(transform, translateY(-100%));
	}
	51% {
		opacity: 0;
		@include css3-prefix(transform, translateY(100%));
	}
	60% {
		opacity: 0;
	}
	81% {
		opacity: 1;
	}
}

@include keyframesAnimation(slidetoleft){
	49% {
		@include css3-prefix(transform, translateX(-200%));
	}
	51% {
		opacity: 0;
		@include css3-prefix(transform, translateX(200%));
	}
	60% {
		opacity: 0;
	}
	81% {
		opacity: 1;
	}
}
@include keyframesAnimation(slidetoright){
	49% {
		@include css3-prefix(transform, translateX(200%));
	}
	51% {
		opacity: 0;
		@include css3-prefix(transform, translateX(-200%));
	}
	60% {
		opacity: 0;
	}
	81% {
		opacity: 1;
	}
}

@include keyframesAnimation(slidetobottom){
    49% {
        @include css3-prefix(transform, translateY(200%));
    }
    51% {
        opacity: 0;
        @include css3-prefix(transform, translateY(-200%));
    }
    60% {
        opacity: 0;
    }
    81% {
        opacity: 1;
    }
}

