/** ============================
    icons
    ======================== **/

[class^="icon-"], [class*=" icon-"] {
    font-family: 'hotwed';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_big_right:before {
    content: "\e621";
} 
.icon-arrow:before {
    content: "\e602";
}
.icon-arrow_square:before {
    content: "\e61d";
}
.icon-cancel:before {
    content: "\e620";
}
.icon-otakoyi:before {
    content: "\e61f";
}
.icon-arrow-left:before {
    content: "\e61b";
}
.icon-arrow-right:before {
    content: "\e61c";
}
.icon-login:before {
    content: "\e61e"; 
}
.icon-accept:before {
    content: "\e600";
}
.icon-around:before {
    content: "\e601";
}
.icon-arrow_big:before {
    content: "\e603";
}
.icon-arrow_circle:before {
    content: "\e604";
}
.icon-calendar:before {
    content: "\e605";
}
.icon-calendar_2:before {
    content: "\e606";
}
.icon-clancel_circle:before {
    content: "\e607";
}
.icon-clok:before {
    content: "\e608";
}
.icon-clok_arrow:before {
    content: "\e609";
}
.icon-gamburger:before {
    content: "\e60a";
}
.icon-heart:before {
    content: "\e60b";
}
.icon-hourglass:before {
    content: "\e60c";
}
.icon-image:before {
    content: "\e60d";
}
.icon-info:before {
    content: "\e60e";
}
.icon-mail:before {
    content: "\e60f";
}
.icon-massage:before {
    content: "\e610";
}
.icon-open_mail:before {
    content: "\e611";
}
.icon-phone:before {
    content: "\e612";
}
.icon-pin:before {
    content: "\e613";
}
.icon-play:before {
    content: "\e614";
}
.icon-plus_circle:before {
    content: "\e615";
}
.icon-search:before {
    content: "\e616";
}
.icon-star_1:before {
    content: "\e617";
}
.icon-star_2:before {
    content: "\e618";
}
.icon-unaccept:before {
    content: "\e619";
}
.icon-user:before {
    content: "\e61a";
}