/** ============================
    modules
    ======================== **/
.m-filter-people{
    .filter-content{
        background: rgba(#02fff3, 0.4);
        padding: 12px 15px;
        @include respond-to(sm){
            margin: 0 14px;
        }
        .col-4{
            padding-right: 2.3364486%;
            &:last-child{
                padding-right: 0;
            }
            @include respond-to(xs){
                @include span(12);
                padding-right: 0;
            }
        }
        .filter-border{
            padding: 22px 3.0701754% 36px;
            @include susy-clearfix();
        }
        .title{
            color: #fff;
            font-size: 18px;
            padding-bottom: 5px;
            @include respond-to(xs){
                padding-top: 20px;
            }
            @include respond-to(md){
                font-size: 20px;
            }
        }
        .jq-selectbox{
            cursor: pointer;
            background: #fff;
            width: 100%;
            height: 64px;
            @include border-radius(5px);
            border: 1px solid #fff;
            &:hover{
                .jq-selectbox__trigger-arrow{
                    @include animation(slidetobottom 0.4s forwards);
                }
            }
            select{
                display: none;
            }
            &.opened{
                border: 1px solid #24ada4;
            }
            .jq-selectbox__select-text{
                height: 64px;
                width: 100%;
                font-size: 20px;
                line-height: 64px;
                padding: 0 46px 0  26px;
                @include respond-to(xs){
                    padding: 0 46px 0  26px;
                }
            }
            .jq-selectbox__dropdown{
                margin-top: -1px;
                width: 100%;
                border: 1px solid #24ada4;
                @include border-radius(5px);
                background: #fff;
                z-index: 1000;
                ul{

                }
                li{
                    color: #000;
                    padding: 0 26px;
                    display: block;
                    width: 100%;
                    font-size: 20px;
                    line-height: lh(36,20);
                    @include transition();
                    &:hover{
                        background: #e3eff2;
                    }
                }
            }
            .jq-selectbox__trigger{
                position: absolute;
                height: 8px;
                right: 10px;
                width: 15px;
                top: 50%;
                margin-top: -4px;
            }
            .jq-selectbox__trigger-arrow{
                font-size: 8px;

                &:before{
                    font-family: $font-Hotwed;
                    content: "\e602";
                    font-size: 8px;
                    color: $color-2;
                }
            }
        }
        .date{
            position: relative;
            .bg-input{
                background: #fff;
                position: relative;
                @include border-radius(5px);
                .icon-calendar_2{
                    font-size: 30px;
                    position: absolute;
                    z-index:1;
                    right: 20px;
                    top: 18px;
                    color: #50cdc7;
                }
            }
            input{
                z-index: 2;
                position: relative;
                border: 1px solid #fff;
                @include border-radius(5px);
                background: transparent;
                height: 64px;
                width: 100%;
                &:hover, &:focus{
                    border: 1px solid #24ada4;
                }
            }
            .ui-datepicker{
                @include border-radius(5px);
                th{
                    background: #e3eff2;
                    border-bottom: 1px solid #24ada4;
                    font-size: 15px;
                    color: #010626;
                    line-height: 43px;
                    padding: 0;
                }
                td{
                    text-align: center;
                    font-size: 17px;
                    color: #010626;
                    position: relative;
                    height: 36px;
                    line-height: 36px;
                    a{
                        display: inline-block;
                        vertical-align: middle;
                        &:before{
                            content: "";
                            position: absolute;
                            background: #fff;
                            width: 30px;
                            height: 30px;
                            z-index: -1;
                            left: 50%;
                            margin-left: -15px;
                            top: 50%;
                            margin-top: -15px;
                        }
                        &:hover{
                            color: #fff;
                            &:before{
                                border: 1px solid #ff4211;
                                background: #ff4211;
                            }
                        }
                        &.ui-state-active{
                            &:before{
                                border: 1px solid #ff4211;
                                background: #fff;
                            }
                            &:hover{
                                color: #010626;
                            }
                        }
                    }
                    &.ui-datepicker-today{
                        a{
                            &:before{
                                border: 1px solid #24ada4;
                            }
                        }
                    }
                    &.ui-state-disabled{
                        td{
                            span{
                                color: #778d9e !important;
                                background: #fff !important;
                                &:before{
                                    border: 1px solid #fff;
                                }
                                &:hover{
                                    color: #778d9e;
                                    &:before{
                                        border: 1px solid #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer{
        position: relative;
        .btn{
            text-transform: uppercase;
        }
        .reset{
            top: 15px;
            right: 49px;
            position: absolute;
            color: #fff;
            background: transparent;
            border: none;
            cursor: pointer;
            @include respond-to(xs){
                display: none;
            }
            span{
                @include inline-block();
                font-size: 18px;
            }
            i{
                @include border-radius(50%);
                overflow: hidden;
                margin-left: 19px;
                @include inline-block();
                font-size: 32px;
                @include transition();
                position: relative;
            }
            &:hover{
               i{
                   @include css3-prefix(box-shadow, inset 0px 0px 0px 15px #fff);
                   color: $color-1;
               }
            }
        }
    }
}
.m-button-search{
    cursor: pointer;
    color: #fff;
    font-size: 31px;
    display: none;
    @include transition();
    &:hover{
        color: $color-1;
    }
    @include respond-to(md){
        @include inline-block();
    }
}
.m-lang{
    margin-top: 10px;
    text-align: left;
    .m-button-search{
        display: none;
    }
    ul{
        margin-left: 36px;
        @include susy-clearfix();
    }
    li{
        float: left;
        margin: 0 10px;
    }
    a{
        font-size: 18px;
        color: #fff;
        line-height: 1;
        padding: 4px 3px;
        @include inline-block();
        position: relative;
        @include transition();
        cursor: pointer;
        &:after,&:before{
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            @include transition();
            @include translate3d(); 
            height: 1px;
            background: transparent;
        }
        &:after{
            top: -30px;
        }
        &:before{
            bottom: -30px;
        }
        &:hover{
            &:after,&:before{
                height: 1px;
                background: #fff;
            }
            &:after{
                top: 0;
            }
            &:before{
                bottom: 0;
            }
        }
        &.active{
            &:after,&:before{
                height: 1px;
                background: #81899d;
            }
            &:after{
                top: 0;
            }
            &:before{
                bottom: 0;
            }
            &:hover{
                &:after,&:before{
                    background: #fff;
                }
            }
        }
    }
}
.m-login{
    position: relative;
    line-height: 52px;
    i{  
        display: none;
    }
    .login-btn{
        font-size: 18px;
        color: $color-1;
        font-family: $font-GSS;
        &:hover{
            color: $color-9;
        }
        span{
            @include inline-block();
        }
    }
    &.logged{
        i{
            @include inline-block();
            margin-left: 18px;
            font-size: 24px;
        }
        &:hover{
            .user-menu{
                visibility: visible;
                opacity: 1;
                top: 53px;
            }
        }
    }
    .user-menu{
        visibility: hidden;
        opacity: 0;
        top: 100px;
        text-align: left;
        position: absolute;
        z-index: 999;
        right: -8px;
        @include transition();
        &::before{
            position: absolute;
            content: "";
            background: url("../img/icons/tail.png") no-repeat;
            width: 14px;
            height: 9px;
            top: -8px;
            right: 13px;
            z-index: 2;
        }
        ul{
            @include border-radius(5px);
            border: 1px solid $color-1;
            overflow: hidden;
            position: relative;
            min-width: 200px;
            background: #fff;
            display: block;
        }
        li{
            font-size: 16px;
            line-height: 45px;
        }
        a{
            background: #fff;
            color: $color-h;
            display: block;
            padding: 0 20px;
            &:hover{
                background: $color-1;
                color: #fff;
            }
        }
    }
}
.m-scroll-top{    
    position: fixed;
    right: 50px;
    z-index: 999;
    cursor: pointer;
    background: #fff;
    bottom: 50px;
    border: 1px solid #ff4211;
    @include border-radius(5px);
    width: 56px;
    height: 56px;
    text-align: center;
    line-height: 54px;
    @include transition();
    display: none;
    .icon-arrow_square{
        font-size: 13px;
        color: $color-1;
        @include transition();
    }
    &:hover{
        background: #ff4211;
        .icon-arrow_square{
            color: #fff;
        }

    }
    @include respond-to(md){

        &.default{
            display: none;
        }
        &.hatch{
            display: block;
        }
    } 
}
.m-pagination{
    @include susy-clearfix();
    text-align: right;
    padding-right: 15px;
    ul{
        @include inline-block();
    }
    li{
        float: left;
        &.active{
            span{
                border: 1px solid #ff8e70; 
            }
        }
    }
    a, span{ 
        margin: 0 5px;
        font-size: 20px;
        color: #000f27;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        @include transition();
        border: 1px solid transparent;
        &:hover, &.active, &:active{
            border: 1px solid #ff8e70;
        }
        &.btn-prev, &.btn-next{
            border: 1px solid #7ccec8;
            color: #7ccec8;
            font-size: 15px;
            line-height: 38px;
        }

    }
}
.m-upload-photo{
    width: 212px;
    text-align: center;
    cursor: pointer;
    position: relative;  
    .jq-file{       
        display: block;   
        cursor: pointer; 
    }
    .jq-file__name{
        border: 2px dashed #b9cbdc;
        @include transition();
        width: 212px;
        height: 212px;
        display: block;                 
    } 
    .jq-file__browse{
        margin-top: 15px; 
        .btn{
            span{
                @include transition();
                position: relative; 
                @include inline-block();                 
            }
        }
    }  
    input{
        cursor: pointer;          
    }
    &:hover{
        .jq-file__name{ 
            border: 2px dashed $color-1; 
        }      
        .jq-file__browse{
            .btn{
                background: #cf360e;
                border: 1px solid #cf360e;
                position: relative;               
                @include inline-block();
                span{
                    &:before{
                        color: #fff;
                    }
                }                
            }
        }
    }
    .icon-plus_circle{
        font-size: 31px;
        color: #3c658d;         
    }
    .upload-title{
        padding-top: 12px; 
    }     
    @include respond-to(xs){
        width: 100%;
        .jq-file__name{
            margin: 0 auto;
        }
        .jq-file{
            width: 100%;
        }
        &:hover{
            .jq-file__browse{
                .btn{
                    background: $color-1;
                    border: 1px solid $color-1;
                    position: relative;
                    @include inline-block();
                    span{
                        color: #fff;
                        &:before{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    @include respond-to(sm){ 
        width: 100%;
        .jq-file__name{
            margin: 0 auto; 
        }
        .jq-file{
            width: 100%; 
        }
        &:hover{
            .jq-file__browse{
                .btn{
                    background: $color-1;
                    border: 1px solid $color-1;
                    position: relative; 
                    @include inline-block();
                    span{
                        color: #fff; 
                        &:before{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.m-form-box{ 
    text-align: left;
    .row{
        & + .row{
            margin-top: 20px; 
        }
    }
    .column-l{
        @include span(12);
        margin-left: 0;  
    }
    .column-r{        
        @include span(12);
        padding-top: 30px;
        @include respond-to(xs){            
            .m-upload-photo{
                margin: 0 auto;
                width: 100%; 
                .jq-file{
                    width: 100%; 
                }
                .jq-file__name{
                    margin: 0 auto; 
                }
            }            
        }            
        @include respond-to(md){
            padding-top: 0; 
            .m-upload-photo{
                width: 212px; 
            }
        }
    } 
    
    @include respond-to(md){
        .column-l{
            @include span(4);
            margin-left: span(4);
        }
        .column-r{
            @include span(4);
        }
    }
    .group-input{
        position: relative;
        width: 293px;
        margin: 0 auto;      
        .input-label{
            display: block; 
            text-align: right;
            padding-right: 32px;  
            width: 293px;              
            top: 0;
            position: absolute;
            left: -100%; 
            font-size: 17px;
            line-height: 40px;
            color: #3c658d; 
            @include respond-to(xs){
                position: relative;                
                left: 0; 
                text-align: left; 
                line-height: 30px; 
            }
        }
        input{
            display: block;
            padding: 0 15px;
            height: 40px;
            border: 1px solid #b9cbdc;
            @include border-radius(0);
            width: 293px;
            @include transition();
            &:hover, &:focus{
                border: 1px solid #000a52;
            }
        }
        textarea{ 
            display: block; 
            padding: 10px 15px;
            height: 90px;
            border: 1px solid #b9cbdc;
            @include border-radius(0);
            width: 293px;
            @include transition();
            &:hover, &:focus{
                border: 1px solid #000a52;
            }
        }
        .input{
            position: relative;
            label{
                float: left; 
                & + label{
                    padding-left: 15px; 
                }
                .jq-radio{
                    margin-right: 9px; 
                }
            }            
        }
        &.error{
            input{
                border: 1px solid $color-1; 
            }
            i{
                color: $color-1;
                font-size: 16px;
                position: absolute;
                right: 14px;
                top: 12px;  
            }
        }
        &.success{
            input{
                border: 1px solid #6bb231;
            }
            i{
                display: block; 
                width: 16px;
                height: 16px;
                cursor: pointer; 
                color: #6bb231; 
                font-size: 16px;
                position: absolute;
                right: 14px;
                top: 12px;
            }
        }
    }    
    .send{   
        text-align: center; 
        button{ 
           
        }
    }
}
.m-star{ 
    width: 28px;
    height: 28px;        
    display: block;
    cursor: pointer;
    &:hover{
         i{
             &:before{
                 content: "\e618"; 
             }
         }
    }
   i{
       @include transition(); 
       font-size: 28px;
       color: $color-1;       
   }
    @include respond-to(xs){
        width: 21px;
        height: 21px; 
        i{ 
            font-size: 21px;
        }
    }     
}
.m-sorting{
    &.jq-selectbox{
        float: right;
        position: relative;
        cursor: pointer;
        min-width: 194px;
        margin-bottom: 10px;
        margin-right: 10px;
    }      
    select{
        display: none;
    }
    .jq-selectbox__select-text{
        font-size: 16px;
        line-height: 45px;
        color: #99a5c8;
        text-align: right;
        padding-right: 35px;
    }
    .jq-selectbox__trigger{
        width: 15px;
        height: 8px;
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: 1px;
        .jq-selectbox__trigger-arrow{
            position: relative;
            width: 15px;
            height: 8px;
            &:before{
                font-family: $font-Hotwed;
                content: "\e602";
                position: absolute;
                font-size: 8px;
                color: #9faaca;

            }
        }
    }
    .jq-selectbox__dropdown{
        border: 1px solid #99a5c8;
        @include border-radius(5px);
        overflow: hidden;
        li{
            padding: 10px 22px;
            font-size: 16px;
            color: #99a5c8;
            background: #fff;
            @include transition();
            &:hover{
                background: #99a5c8;
                color: #fff;
            }
        }
    }
    @include respond-to(xs){
        .jq-selectbox{
            float: left;
            .jq-selectbox__select-text{
                text-align: left;
            }
            .jq-selectbox__trigger{
                right: 57px;
            }

        }
    }
}
.town{    
    @include inline-block(); 
    padding-left: 22px;
    a{
        display: block;
        color: #24ada4;
        font-size: 18px;
        span{
            color: #24ada4;
            @include transition();
            position: relative;
            &:before{
                position: absolute;
                content: "\e613";
                font-size: 16px;
                color: #3c658d;
                font-family: $font-Hotwed;
                left: -22px; 
                top: 50%;
                margin-top: -8px; 
            }
        }
        @include transition();
        &:hover{
            span{
                color: #24ada4;
            }
        }
    }
}
.m-pop-up-message{
    padding: 50px 67px;
    background: #fff; 
    .text{
        text-align: center; 
        p{
            font-size: 18px;
            line-height: 36px;
            color: #010626;
            font-family: $font-GSS; 
        }
    }
    @include respond-to(xs){
        padding: 20px;
    }
    .btn-group{
//        margin-top: 30px;  
        .red{
            margin-right: 15px; 
            
        }
        @include respond-to(xs){
            .btn{
                width: 100%;
                display: block; 
                margin-right: 0;
                & + .btn{
                    margin-top: 20px; 
                }
            }
        }
    }
}
.pop-up-middle{   
    &.feedback{
        .row{
            &.input-box{
                @include respond-to(sm){
                    label{
                        width: 143px;
                        padding-right: 20px;
                    }   
                }                 
            }
            &.footer{
                padding: 0;
                text-align: center; 
            }
        }
    }
    h2{
        text-align: center;
        font-family: $font-GSS;
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 20px; 
        @include respond-to(xs){
            font-size: 18px;
            line-height: 22px;
        } 
    }
    .row{  
        width: 100%;
        &.input-box{
            display: table;
            label{
                display: table-cell;
                vertical-align: middle;
                font-size: 17px;
                line-height: 18px;
                color: #3c658d;
                padding-right: 30px;
                text-align: right;
                width: 110px;
            }
            input, textarea{
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding: 0 15px;
                height: 40px;
                border: 1px solid #b9cbdc;
                &:hover, &:active{
                    border: 1px solid $color-h;
                }
            }
            textarea{
                height: 150px; 
            }

            @include respond-to(xs){
                label{
                    text-align: left;
                    display: block;
                    width: 100%;
                    padding-bottom: 5px;
                }
                input{
                    width: 100%;
                    display: block;
                }
            }
        }
        &.input-message{
            margin-top: 0 !important;
            p{
                font-size: 12px;
                color: #6e97b7;
                text-align: center;
                padding-top: 5px;
                a{
                    color: $color-1;
                    border-bottom: 1px solid transparent;
                    @include transition();
                    &:hover{
                        border-bottom: 1px solid $color-1;
                    }
                }
            }
            @include respond-to(xs){
                margin-left: 0;
            }
        }
        &.footer{
            text-align: left;
            padding-left: 113px;
            .type{
                label{
                    &:first-child{
                        padding-right: 33px;
                    }
                }
            }
            .regulations{
                .jq-checkbox{
                    vertical-align: top;
                    float: left;
                }
                span{
                    padding-left: 22px;
                    display: block;
                    a{
                        color: $color-1;
                        border-bottom: 1px solid transparent;
                        @include transition();
                        &:hover{
                            border-bottom: 1px solid $color-1;
                        }
                    }
                }
            }

            @include respond-to(xs){
                padding-left: 0;
                .btn{
                    width: 100%;
                    display: block;
                }
                .footer{
                    padding-left: 0;
                }
            }
        }
        &.entry{
            font-size: 12px;
            color: #6e97b7;
            line-height: 14px;
            text-align: center;
            a{
                color: $color-1;
                border-bottom: 1px solid transparent;
                @include transition();
                &:hover{
                    border-bottom: 1px solid $color-1;
                }
            }
        }
        & + .row{
            margin-top: 20px;
        }

    } 
} 
.response{    
    padding-top: 20px;
    padding-bottom: 20px; 
    font-size: 24px;
    line-height: 32px; 
    color: $color-1;
    font-family: $font-GSS;  
}
.tn{
    display: none !important;   
    height: 16px;
    width: 16px;   
    @include border-radius(50%);
    background: $color-1;
    text-align: center;
    font-size: 14px;
    font-family: $font-Light;  
    color: #fff; 
    line-height: 17px; 
    margin: 0 10px;
    &.on{
       display: inline-block !important;
        vertical-align: middle; 
    }
}