{*<pre>{print_r($item)}*}
<div class="item comments-item">
    <div class="name"><a href="#">{$item.username}</a></div><div class="date">{$item.date}</div>
    <div class="item-content">{$item.content}</div>
</div><!-- .item -->