<div class="signup">
    <div class="tabs">

        <ul class="tabs__caption">
            <li class="active"><span>Вхід</span></li>
            <li><span>Реєстрація</span></li>
        </ul>

        <div class="tabs__content active">
            <form>
                <div class="row input-box">
                    <label>Ваш email</label>
                    <input type="email"/>
                </div>
                <div class="row input-box">
                    <label>Пароль</label>
                    <input type="password"/> 
                    <p>Забули пароль? <a href="#">Нагадаємо</a></p>
                </div>
                <div class="row footer">  
                    <div class="row">
                        <button class="btn red">Ввійти</button>
                    </div>
                </div>
                <div class="row entry">
                    Вже зареєстровані на нашому сайті? <a href="#">Реєструватись тут</a>
                </div>                
            </form>
        </div>

        <div class="tabs__content registration">
            <form>
                <div class="row input-box">
                    <label>Ваш email</label>
                    <input type="email"/>                
                </div>
                <div class="row input-box">
                    <label>Ваше імя</label>
                    <input type="text"/>
                </div>
                <div class="row input-box">
                    <label>Пароль</label>
                    <input type="password"/>
                </div>
                <div class="row input-box">
                    <label>Повторіть пароль</label>
                    <input type="password"/> 
                </div>
                <div class="row footer">
                    <div class="row type">
                        <label><input name="registration" type="radio"/><span>Виконавець</span></label>
                        <label><input name="registration" type="radio"/><span>Клієнт</span></label>
                    </div>
                    <div class="row regulations">
                        <label><input type="checkbox"/><span>З <a href="#">правилами користування сервісу</a> ознайомлений і погоджуюсь</span></label>                        
                    </div>
                    <div class="row">
                        <button class="btn red">Зареєструватись</button>
                    </div>  
                </div>
                <div class="row entry">
                    Вже зареєстровані на нашому сайті? <a href="#">Вхід тут</a>
                </div>
            </form>
        </div>

    </div><!-- .tabs-->
</div> 