{*
 * Company Otakoyi.com.
 * Author Будяк
 * Date: 11.06.2015
 * Time: 15:41
 * Name: Блог
 * Description: Блог
 *}
[[chunk:head]]
<div class="wrapper">
    <main>
        [[chunk:header]]
        [[mod:Blog::index]]
    </main>
</div>
[[chunk:footer]]
</body>
</html>