{*
 * Company Otakoyi.com.
 * Author Будяк
 * Date: 09.06.2015
 * Time: 12:21
 * Name: main
 * Description: main
 *}
{*
 * Company Otakoyi.com.
 * Author Volodymyr
 * Date: 09.06.2015
 * Time: 12:21
 * Name: main
 * Description: main
 *}
[[chunk:head]]
<div class="l-wrapper">
    [[chunk:header]]
    <main class="l-main" role="main">
        <section class="l-title">
            <div class="row">
                <h1>{$page.name}</h1>
            </div>
        </section><!-- .l-title-page-->

        {$page.module}

        {if !empty($page.content)}
        <section class="l-page">
            <div class="container">
                <div class="cms_content">
                    {$page.content}
                </div>
            </div>
        </section><!-- .l-title-page-->
        {/if}
    </main><!-- .l-main -->
</div><!-- .l-wrapper -->
[[chunk:footer]]