{*
 * Company Otakoyi.com.
 * Author MuSH Room
 * Date: 10.03.2015
 * Time: 14:04
 * Name: Правила
 * Description: праивла користування
 *}
<!DOCTYPE html>
<html lang="en">
[[chunk:head]]
<body>
[[chunk:header]]
{$content}
[[chunk:footer]]
</body>
</html>