/** ============================
    layout_basic_styles
    ======================== **/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
	height: 100%;
    font-size: 1em;
    line-height: 1.4;
	-webkit-font-smoothing: antialiased;
}
body {
	width: 100%;
	height: 100%;
    font-family: $font-Light;
}
.l-wrapper {
	margin: 0 auto;
	height: auto !important;
	min-height: 100%;
}
.sidebar-left {
	float: left;
	margin-left: -100%;
	position: relative;
	width: 200px;
}
.sidebar-right {
	float: left;
	margin-left: -200px;
	position: relative;
	width: 200px;
}
.wrapper-content {
	float: left;
	width: 100%;
	@extend %clearfix;
}
.main-content {
	padding-left: 200px;
	padding-right: 200px;
}
.col-l {
	width: 50%;
	float: left;
}
.col-r {
	margin-left: 50%;
}
section {
	@extend %clearfix;
	width: auto;
	min-height: 1px;
	position: relative;
}
.row {
	width: 100%;
	@extend %clearfix;
	min-height: 1px;
}
.inline-block {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: middle;
}
%clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.txtleft {
	text-align: left;
}
.txtright {
	text-align: right;
}
.paralax {
	text-align: center;
	.layer-1 {
		position: absolute;
		z-index: 1;
		width: 100%;
		overflow: hidden;
		background-attachment: fixed;
		background-position: 50% 0;
		background-repeat: no-repeat;
		& + .layer-2 {
			top: 0;
			z-index: 2;
			position: relative;
			width: 100%;
		}
	}
}
.layer-1 {
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	& + .layer-2 {
		top: 0;
		left: 0;
		height: 100%;
		z-index: 2;
		position: absolute;
		width: 100%;
	}
}
.hide {
	opacity: 0;
}
.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    min-height: 1px;
    @include susy-clearfix();
}
.h-100{
    height: 100%;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.table{
    display: table;
    width: 100%;
    height: 100%;
}
.table-cell{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.overflow-hidden{
    overflow: hidden;
}
.overflow-visible{
    overflow: visible;
}
.tabs__content {
    display: none;
}
.tabs__content.active {
    display: block; 
}
.tooltipster-error{ 
    position: absolute;
    background: $color-1; 
    padding: 10px 18px;  
    .tooltipster-content{
        background: $color-1;
        font-size: 17px;
        line-height: 17px;
        color: #fff; 
        font-family: $font-Light; 
        .tooltipster-arrow{
            &.tooltipster-arrow-top{
                
            }
            &.tooltipster-arrow-right{
                 
            }
            .tooltipster-arrow-border{
                background: $color-1;
                span{
                    background: $color-1;  
                }
            }
        }
    } 
}
.tooltipster-info{ 
    position: absolute;
    background: #dcf5f4; 
    max-width: 243px; 
    padding: 15px 15px 15px 0;   
    .tooltipster-content{
        background: #dcf5f4;
        font-size: 13px; 
        line-height: 15px;
        color: #3c658d;  
        font-family: $font-Light;
        position: relative;
        padding-left: 45px;  
        &:before{
            position: absolute; 
            content: "\e60e";
            font-family: $font-Hotwed; 
            font-size: 24px;
            color: #24ada4;
            left: 10px;  
            top: 12px;  
        }
        .tooltipster-arrow{
            &.tooltipster-arrow-top{
                
            }
            &.tooltipster-arrow-right{
                 
            }
            .tooltipster-arrow-border{
                background: #dcf5f4;
                span{
                    background: #dcf5f4;  
                }
            }
        }
    }
}
.tooltipster-arrow-top{    
    background: #dcf5f4;
    max-width: 242px; 
    padding: 15px 15px 15px 0;
    .tooltipster-content{
        background: #dcf5f4;
        font-size: 13px;
        line-height: 15px;
        color: #3c658d;
        font-family: $font-Light;
        position: relative;
        padding-left: 45px;
        &:before{
            position: absolute;
            content: "\e60e";
            font-family: $font-Hotwed;
            font-size: 24px;
            color: #24ada4;
            left: 10px;
            top: 12px;
        }
        .tooltipster-arrow{             
            .tooltipster-arrow-border{
                background: #dcf5f4;
                span{
                    background: #dcf5f4;
                }
            }
        }
    }
}
.html-fixed{
    overflow: hidden; 
}
.fc{ 
    .fc-toolbar{
        .fc-left{
            h2{
                color: $color-h;
                font-family: $font-Light;
                font-size: 42px;
            }
        }
        .fc-right{
            .fc-today-button{
                background: #fff;
                border: 1px solid transparent;
                color: $color-h;
                font-family: $font-Light;
                @include border-radius();
                line-height: 40px;
            }
            .fc-button-group{
                .fc-button{
                    width: 40px;
                    height: 40px;
                    display: block;
                    float: left;
                    background: #fff;
                    cursor: pointer;
                    text-align: center;
                    border: 1px solid #96e1dd;
                    @include border-radius(0);
                }
                .fc-prev-button{
                    .fc-icon{
                        @include inline-block();
                        color: #96e1dd;
                        &:after{
                            content: "\e61b";
                            font-size: 15px;
                            color: #96e1dd;
                            font-family: $font-Hotwed;
                        }
                    }
                }
                .fc-next-button{
                    .fc-icon{
                        @include inline-block();
                        color: #96e1dd;
                        &:after{
                            content: "\e61c";
                            font-size: 15px;
                            color: #96e1dd;
                            font-family: $font-Hotwed;
                        }
                    }
                }
            }
        }
    }
    .fc-day-grid{
        .fc-today{
            background: #f9f9f9; 
        }
    }
}
.video{
    display: table !important;    
    background: #000;
    position: relative;
    span{
        width: 100%; 
        display: table-cell; 
        vertical-align: middle;
        img{
            width: 100%; 
        }
    }
    &:hover{
        &:before{
            background: rgba(#24ada4, 1);
        }
    }
    &:before{
        position: absolute;
        content: "\e614";
        width: 50px;
        height: 50px;
        top: 50%;
        margin-top: -25px;
        left: 50%;
        margin-left: -25px;
        color: #fff;
        font-size: 50px;
        font-family: $font-Hotwed;
        @include transition();
        @include border-radius(50%);
        background: rgba(#24ada4, 0.5);
    }
}
 
