/** ============================
    Form
    ======================== **/
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="search"],
textarea {
	height: 57px;
	padding: 0 33px;
	font-family: $font;
	color: $color;
	@include transition(0.5s);
	@include border-radius(0px);
	font-size: 20px;
	line-height: normal;
	@include placeholder(#bdbdbd);  
	border: 1px solid transparent;
	background: rgba(255, 255, 255, 0.8);
	& + input {
		margin-top: 14px;
	}
	&:hover {
		border: 1px solid $color;
		background: #fff;
	}
	&:focus {
		border: 1px solid $color;
		background: #fff;
	}	 
}
textarea{
	resize: none;
	height: 160px;
}
textarea:focus, input:focus{
	outline: 0;
}
*:focus {
	outline: 0;
}

input {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
}


button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
	border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
.form-box{
	.input-box{
		& + .input-box{
			margin-top: 20px;
		}
	}
}

.ui-helper-hidden {
    display: none;
}
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse;
}
.ui-helper-clearfix:after {
    clear: both;
}
.ui-helper-clearfix {
    min-height: 0; /* support: IE7 */
}
.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter:Alpha(Opacity=0); /* support: IE8 */
}

.ui-front {
    z-index: 100;
}


/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
    cursor: default !important; 
}


/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
    td{
        &.ordered{
            span{
                position: relative;
                z-index: 1; 
                color: #fff !important; 
                &:before{
                    background: #24ADA4;
                    color: #fff;
                    content: "";
                    height: 30px;
                    left: 50%;
                    margin-left: -15px;
                    margin-top: -15px;
                    position: absolute;
                    top: 50%;
                    width: 30px;
                    z-index: -1; 
                }
            }       
        }
    }
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
    cursor: pointer;
    &:before{
        content: "\e61b";
        font-family: $font-Hotwed;
        font-size: 15px;
        color: #041853;
        display: block;
        top: 50%;
        margin-top: -7px;
        left: 50%;
        margin-left: -4px;
        position: absolute;
        @include transition(); 
    }
    &:hover{
        &:before{
            color: #24ada4;
        }
    }
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
    cursor: pointer; 
    &:before{
        content: "\e61c";
        font-family: $font-Hotwed;
        font-size: 15px;
        color: #041853;
        display: block;
        top: 50%;
        margin-top: -7px;
        left: 50%;
        margin-left: -4px;
        position: absolute;
        @include transition(); 
    }
    &:hover{
        &:before{
            color: #24ada4;
        }
    }
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    width: 95%;
    margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0;
}
.ui-datepicker{
    background: #fff;
    width: 100%;
}
.jq-radio{
    border: 1px solid #6e97b7;
    @include border-radius(50%); 
    width: 15px;
    height: 15px;
    @include inline-block();
    margin-right: 11px;
    cursor: pointer;
    position: relative;
    &.checked{
        border: 1px solid #010626;
        &:before{
            position: absolute;
            width: 9px;
            height: 9px;
            content: ""; 
            background: #010626;
            top: 2px; 
            left: 2px;
            @include border-radius(50%); 
        }     
    }
    input{
        display: none;
    }
    & + span{ 
        @include inline-block();
        font-size: 18px;
        color: #010626;
    }  
}
.jq-checkbox{   
    background: url("../img/icons/sprite.png") no-repeat -30px 0;
    width: 13px;
    height: 13px;
    @include inline-block();
    margin-right: 9px;
    cursor: pointer;
    position: relative;  
    &.checked{ 
        background-position: -43px 0;          
    }
    input{
        display: none;
    }
    & + span{ 
        @include inline-block();
        font-size: 12px;
        color: #6e97b7; 
        line-height: 14px;
    }  
}
.fancybox-close{
    background: transparent;
    background-image: none;
    width: 36px;
    height: 36px;
    padding: 0;  
    right: auto;
    left: 50%;
    margin-left: -18px;
    top: auto;
    bottom: -60px; 
    &:before{
        width: 36px;
        height: 36px;
        font-family: $font-Hotwed;
        content: "\e607";
        position: absolute;
        left: 0;
        top: 0;
        font-size: 36px;
        @include transition();
        color: #fff; 
        @include border-radius(50%);
    }
    &:hover{
        &:before{
            color: #fff;
            box-shadow: 0 0 0 18px #000 inset;            
        }
    }    
}
.fancybox-nav{
    background: transparent;
    background-image: none;
    width: 36px;
    height: 36px;
    padding: 0;
    margin: 0;
    right: auto;
    top: auto;
    bottom: -60px;
    &:before{
        width: 20px;
        height: 36px;  
        font-family: $font-Hotwed;       
        position: absolute;
        left: 7px; 
        top: 0; 
        font-size: 36px;
        @include transition();
        color: #fff;
        @include border-radius(50%);
    }
    span{
        display: none; 
    }
    &:hover{
        &:before{
            color: $color-1;          
        }
    }
    &.fancybox-prev{
        left: 50%;  
        margin-left: -100px;
        &:before{
            content: "\e61b";
        }
    }
    &.fancybox-next{     
        left: auto;
        right: 50%; 
        margin-right: -100px; 
        &:before{
            content: "\e61c"; 
        }
    }
}
.pop-up-style{ 
    background: #fff;     
    .fancybox-skin{
        background: transparent;  
        @include border-radius(0);
        box-shadow: none;  
    }
    @include respond-to(xs){ 
        .fancybox-close{
            right: auto;
            top: auto;
            left: 50%; 
            margin-left: -18px;
            bottom: -60px; 
        }
    } 
}
.signup{   
    .tabs__caption{
        @include susy-clearfix();
        width: 100%; 
        li{
            width: 50%;                  
            float: left;    
            cursor: pointer; 
            span{
                margin-right: 7px;
                display: block;
                background: #3c658d;
                height: 68px;
                line-height: 68px;
                font-size: 30px;
                font-family: $font-GSS;
                color: #fff;
                text-align: center;
                @include respond-to(xs){
                    font-size: 20px; 
                }  
            }
            &:last-child{              
                span{
                    margin-right: 0;
                    margin-left: 7px;
                }
            }
            &.active{
                span{
                    color: #010626;
                    background: #fff;
                }                
            }
        }
    }
    .tabs__content{
        background: #fff;
        padding: 47px 15px;
        @include respond-to(sm){
            padding: 47px 67px;             
        }
        .row{
            width: 100%;           
            &.input-box{ 
                display: table;
                label{
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 17px;
                    line-height: 18px;                  
                    color: #3c658d;
                    padding-right: 30px;
                    text-align: right;
                    width: 110px; 
                }
                input{
                    display: table-cell;
                    vertical-align: middle; 
                    width: 100%;
                    padding: 0 15px;
                    height: 40px;
                    border: 1px solid #b9cbdc;
                    &:hover, &:active{
                        border: 1px solid $color-h;
                    }
                }
               
                @include respond-to(xs){
                    label{
                        text-align: left; 
                        display: block;
                        width: 100%;
                        padding-bottom: 5px; 
                    }
                    input{
                        width: 100%;
                        display: block;
                    }                    
                } 
            }
            &.input-message{
                margin-top: 0 !important;  
                p{
                    font-size: 12px;
                    color: #6e97b7;
                    text-align: center;
                    padding-top: 5px;
                    a{
                        color: $color-1;
                        border-bottom: 1px solid transparent;
                        @include transition();
                        &:hover{
                            border-bottom: 1px solid $color-1;
                        }
                    }
                }
                @include respond-to(xs){
                    margin-left: 0; 
                }
            }
            &.footer{ 
                text-align: left;
                padding-left: 113px;
                p{
                    font-size: 12px;
                    color: #6e97b7;
                    text-align: left; 
                    padding-top: 15px;
                    padding-bottom: 15px; 
                    a{
                        color: $color-1;
                        border-bottom: 1px solid transparent;
                        @include transition();
                        &:hover{
                            border-bottom: 1px solid $color-1;
                        }
                    }
                } 
                .type{
                    label{
                        &:first-child{
                            padding-right: 25px; 
                        }
                    }                    
                }
                .regulations{
                    .jq-checkbox{
                        vertical-align: top;
                        float: left;
                    }
                    span{                       
                        padding-left: 22px;
                        display: block; 
                        a{
                            color: $color-1;
                            border-bottom: 1px solid transparent;
                            @include transition();
                            &:hover{
                                border-bottom: 1px solid $color-1;
                            } 
                        }
                    }
                }
                
                @include respond-to(xs){
                    padding-left: 0; 
                    .btn{
                        width: 100%;
                        display: block; 
                    }
                    .footer{
                        padding-left: 0; 
                    }
                }
            }
            &.entry{
                font-size: 12px;
                color: #6e97b7;
                line-height: 14px;
                text-align: center;                 
                a{
                    color: $color-1;
                    border-bottom: 1px solid transparent;
                    @include transition();
                    &:hover{
                        border-bottom: 1px solid $color-1;
                    }
                }
            }  
            & + .row{
                margin-top: 20px;
            }            
        }        
    }
}

.pop-up-middle {
    padding: 30px;
    width: 100%;
    .row{
        &.input-box {
            display: table;
            label {
                display: table-cell;
                vertical-align: middle;
                font-size: 17px;
                line-height: 18px;
                color: #3c658d;
                padding-right: 30px;
                text-align: right;
                width: 110px;
            }
            input {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding: 0 15px;
                height: 40px;
                border: 1px solid #b9cbdc;
                &:hover, &:active {
                    border: 1px solid $color-h;
                }
            }

            @include respond-to(xs) {
                label {
                    text-align: left;
                    display: block;
                    width: 100%;
                    padding-bottom: 5px;
                }
                input {
                    width: 100%;
                    display: block;
                }
            }
        }
        &.input-message {
            margin-top: 0 !important;
            p {
                font-size: 12px;
                color: #6e97b7;
                text-align: center;
                padding-top: 5px;
                a {
                    color: $color-1;
                    border-bottom: 1px solid transparent;
                    @include transition();
                    &:hover {
                        border-bottom: 1px solid $color-1;
                    }
                }
            }
            @include respond-to(xs) {
                margin-left: 0;
            }
        }
       
        &.footer {
            text-align: left;
            padding-left: 113px;
             
            .type {
                label {
                    &:first-child {
                        padding-right: 33px;
                    }
                }
            }
            .regulations {
                .jq-checkbox {
                    vertical-align: top;
                    float: left;
                }
                span {
                    padding-left: 22px;
                    display: block;
                    a {
                        color: $color-1;
                        border-bottom: 1px solid transparent;
                        @include transition();
                        &:hover {
                            border-bottom: 1px solid $color-1;
                        }
                    }
                }
            }

            @include respond-to(xs) {
                padding-left: 0;
                .btn {
                    width: 100%;
                    display: block;
                }
                .footer {
                    padding-left: 0;
                }
            }
        }
        &.entry {
            font-size: 12px;
            color: #6e97b7;
            line-height: 14px;
            text-align: center;
            a {
                color: $color-1;
                border-bottom: 1px solid transparent;
                @include transition();
                &:hover {
                    border-bottom: 1px solid $color-1;
                }
            }
        }
    }  
}
.m-form-box{
    .jq-selectbox{
        cursor: pointer;
        background: #fff;
        width: 100%;
        float: left;
        height: 40px;
        color: #24ada4;
        border: 1px solid #b9cbdc;
        &:hover{
            .jq-selectbox__trigger-arrow{
                @include animation(slidetobottom 0.4s forwards);
            }
        }
        @include respond-to(xs){
            width: 100%;
            margin-left: 0;
        }
        select{
            display: none;
        }
        &.opened{
            border: 1px solid #b9cbdc;
        }
        .jq-selectbox__select-text{
            color: #000;
            height: 40px;
            width: 100%;
            font-size: 20px;
            line-height: 40px;
            padding: 0 46px 0  15px;
            @include respond-to(xs){
                padding: 0 46px 0 15px;
            }
        }
        .jq-selectbox__dropdown{
            margin-top: -2px;
            width: 293px;
            left: -1px;
            border: 1px solid #b9cbdc;
            background: #fff;
            z-index: 1000;
            li{
                color: #000;
                padding: 0 15px;
                display: block;
                width: 100%;
                font-size: 20px;
                line-height: lh(36,20);
                @include transition();
                &:hover{
                    background: #e3eff2;
                }
            }
        }
        .jq-selectbox__trigger{
            position: absolute;
            height: 8px;
            right: 10px;
            width: 15px;
            top: 50%;
            margin-top: -4px;
        }
        .jq-selectbox__trigger-arrow{
            font-size: 8px;
            &:before{
                font-family: $font-Hotwed;
                content: "\e602";
                font-size: 8px;
                color: #3c658d;
            }
        }
    } 
}
.set-disabled-days{
    padding: 0 15px; 
    & > p{
        margin-bottom: 20px; 
    }
    .ui-datepicker{
        top: 40px !important;  
        @include border-radius(5px);
        th{
            background: #e3eff2;
            border-bottom: 1px solid #24ada4;
            font-size: 15px;
            color: #010626;
            line-height: 43px;
            padding: 0;
        }
        td{
            text-align: center;
            font-size: 17px;
            color: #010626;
            position: relative;
            height: 36px;
            line-height: 36px;
            a{
                display: inline-block;
                vertical-align: middle;
                &:before{
                    content: "";
                    position: absolute;
                    background: #fff;
                    width: 30px;
                    height: 30px;
                    z-index: -1;
                    left: 50%;
                    margin-left: -15px;
                    top: 50%;
                    margin-top: -15px;
                }
                &:hover{
                    color: #fff;
                    &:before{
                        border: 1px solid #ff4211;
                        background: #ff4211;
                    }
                }
                &.ui-state-active{
                    &:before{
                        border: 1px solid #ff4211;
                        background: #fff;
                    }
                    &:hover{
                        color: #010626;
                    }
                }
            }
            &.ui-datepicker-today{
                a{
                    &:before{
                        border: 1px solid #24ada4;
                    }
                }
            }
            &.ui-state-disabled{
                td{
                    span{
                        color: #778d9e !important;
                        background: #fff !important;
                        &:before{
                            border: 1px solid #fff;
                        }
                        &:hover{
                            color: #778d9e;
                            &:before{
                                border: 1px solid #fff;
                            }
                        } 
                    }
                }
            }
        }
    } 
}
.fc-today{
    background: #E0F2F8 !important;      
}
.ui-state-disabled {
 
    span{
        position: relative;
        color: #ccc; 
    } 
    
}


